.container {
    display: flex;
    font-family: "Poppins", sans-serif !important;
}

.Tableau {
    display: flex;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 250fr 0.5fr;
    font-family: "Poppins", sans-serif !important;
}

.second-container {
    margin-left: 240px;
    margin-right: 20px;
    width: 56%;
    flex-wrap: 1;
    flex-grow: 1;
    flex-shrink: 0;
}

.button {
    float: right;
}

.pagination {
    margin-top: 20px;
    /* Adjust the spacing between the table and pagination */
    display: flex;
    float: right;
    text-align: right;
}

button {
    color: white;
    display: flex;
    width: 7.68075rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: rgb(0, 17, 255);
    color: #FFF;
    margin-top: 2px;
    margin: 10px;
}

.Search-text {
    width: 75%;
    color: #bebcbc;
    padding-top: 11px;
}

input[type="search"] {
    border: none;
    width: 100%;
    height: 80%;
    border: none none;
    outline: none;
}

input[type="search"]:focus {
    border: none none;
    color: none;
}

.search-bar {
    width: 52.575rem;
    flex-shrink: 1;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
}

.search-bar svg {
    margin-top: 14px;
    margin-left: 15px;
    margin-right: 10px;
}






.nom-prenom {
    margin-top: 15px;
    margin-left: 8px;
    color: white;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
}

.table-row {
    border-bottom: 1px solid #000;
    /* You can adjust the color and thickness as needed */
}

table tr {
    border-bottom: 1px solid
        /* You can adjust the color and thickness as needed */
}



/***************** NEw CSS *********************/
body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
}

.dropdown-content {
    margin-left: -150px;
}

.dashboard-card-count {
    display: flex;
    margin-top: 8px;
}

.percentage-change {
    color: green;
    margin-top: 7px;
}

.week {
    margin-top: 200px;
    margin-left: 15px;
}

.custom-container {
    color: #323842;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
}

.pending {
    display: flex;

    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #fce9a4;
    color: #bf6f25;
    margin: 5px;
    font-size: 14px;
}

.ancienne {
    display: flex;
    width: 3.9375rem;
    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #f9f9f9;
    color: #969696;
    margin: 5px;
    font-size: 14px;
}

.encours {
    display: flex;
    width: 3.9375rem;
    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background-color: #f1f8fd;
    color: #379ae6;
    margin: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.done {
    display: flex;
    width: 3.9375rem;
    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 0.75rem;
    background: #eefdf3;
    color: #187111;
    margin: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.label {
    color: #323842;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
}

/* Add more classes for other styles as needed */

.nonvalidée {
    display: flex;
    width: 3.9375rem;
    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #f3c0c0;
    color: rgb(101, 0, 0);
    margin: 5px;
    font-size: 14px;
}





td {
    margin: 5px;
    padding: 8px;
}

tr {
    border-bottom: 5px solid black;
}

.title {
    margin-top: 7px;

    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0225rem;
    margin-bottom: 20px;
    flex-shrink: 0;
    /* 2.25rem */
}

.eye {
    margin-top: 8px;
    margin-left: 80%;
    float: right !important;
}

.chiffre_affaire {
    margin: 5px;
    width: 15.75rem;
    height: 8.6875rem;
    flex-shrink: 0;
    border-radius: 0.8125rem;
    border: 1px solid #eae3d5;
    background: #1e1e1e;
    color: white;
}

.tjm_moyen {
    margin: 5px;
    margin-left: 15px;
    width: 15.75rem;
    height: 8.6875rem;
    flex-shrink: 0;
    border-radius: 0.8125rem;
    border: 1px solid #eae3d5;
    background: #fefcf1;
    color: black;
}

.pourcentage {
    width: 2.4375rem;
    height: 1rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    border: 1px solid #fefcf1;
}

.pourcentage svg {
    width: 0.775rem;
    height: 0.75rem;

    flex-shrink: 0;
    fill: #fefcf1;
    stroke-width: 0.2px;
    stroke: #fefcf1;
}

.nb_money {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.6875rem;
}

.chaffaire {
    color: #cdc7b9;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 1.125rem;
}

.graph svg {
    margin-left: 10px;
    margin-top: 5px;
    width: 5.0375rem;
    height: 3.265rem;
    stroke-width: 3px;
    stroke: #fefcf1;
}

.first {
    display: flex;
    width: auto;

    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #eae3d5;
    background: #fff;
    margin: 2px;
    padding: 2px;
}

.second {
    padding: 10px;

    border-radius: 0rem 0.625rem 0.625rem 0rem;
    background: #eae3d5;
}





td {
    margin: 5px;
    padding: 8px;
}

tr {
    border-bottom: 5px solid black;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.32);

    /* Use your preferred shade of green */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 25.6875rem;
    margin-left: 50px;
    height: 16.4375rem;
    border-radius: 2.125rem;
    background: white;
    padding: 30px;
    margin-top: 30px;
}

.popup-content-validation {
    width: 35.6875rem;
    margin-left: 50px;
    height: 32.4375rem;
    border-radius: 6.125rem;
    background: rgb(255, 254, 254);
    padding: 30px;
    margin-top: 30px;
}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="number"] {
    width: 26.04313rem;
    height: 2.61006rem;
    flex-shrink: 0;

    padding: 8px;
    margin-top: 10px;

    border-radius: 0.5rem;
    border: 1px solid #1e1e1e;

    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.vertical-line {
    height: 58px;
    /* Adjust the height as needed */
    border-left: 1px solid #000;
    /* Adjust the color as needed */
    margin-right: 10px;
}

.chose-file {
    margin-top: 5px;
    margin-right: 10px;
    color: #000;

    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-file {
    margin-top: 5px;
    flex-shrink: 0;
    margin-left: 10px;
}

.file-input {
    display: none;
}

.custom-file-input {
    display: flex;
    align-items: center;
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;

    width: 26.04313rem;
    height: 3.61006rem;
    flex-shrink: 0;

    margin-top: 10px;
}

.file-label {
    margin-left: 6px;
    font-size: 1rem;

    flex: 1;
    margin-right: 10px;
    color: #6c6868;

    font-size: 0.8rem;
}

.newmissionbutton {
    width: 25%;
    float: right;
}

.new {
    display: flex;
    width: 4.9375rem;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #fce9a4;
    color: #bf6f25;
    margin: 5px;
}

.nonvalidée {
    display: flex;
    width: auto;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;

    margin: 5px;
    background: #f3c0c0;
    color: rgb(101, 0, 0);
    margin: 5px;
    font-size: 14px;
}

.waiting {


    display: flex;
    width: auto;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.75rem;
    background: #9bc4f9;
    margin: 5px;
    color: #241df5;
}

.right-item {
    float: right;
    display: row;
    position: relative;
}

.profil {
    margin-left: 10px;
    height: 3.125rem;
    width: 12rem;
    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    color: white;
    background: #829ed5;
    display: flex;
    float: right;
}

.profil1 svg {
    width: 32px;
    height: 31px;
}

.profil1 {
    width: 13rem;
    height: 3.125rem;
    margin-left: 10px;
    border: 1px solid rgb(247, 227, 227);
    border-radius: 15px;
    background: #fef9f1;
    display: flex;
    float: right;
}

svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 10px;
}

.profil1 img {
    border-radius: 100%;
    width: 2.625rem;
    height: 2.175rem;
    margin-left: 15px;
    margin-top: 8px;
}


.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
    background: #829ed5;
}

.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
    background: #829ed5;
}

.mesmissions {
    margin-top: 10px;
    margin-right: 435px;

    font-size: 1.35rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

.chez {
    margin-left: 15px;
    margin-top: 15px;
    color: #cdc7b9
}

.TJMcuurent {
    margin-left: 8px;
}

.chezqui {}

@media (max-width: 768px) {
    .container {
        display: row;
        font-family: "Poppins", sans-serif !important;
    }
}

@media (max-width: 1250px) {
    thead {
        background-color: #187111;
    }

    .mesmissions {
        margin-top: 10px;
        margin-right: 35px;

        font-size: 1.35rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.0225rem;
    }

    .newmissionbutton {
        width: 200px;

    }


    .search-bar {
        width: 22.575rem;
        flex-shrink: 1;
        border-radius: 0.4375rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
    }

    .second-container {
        margin-left: 260px;
        margin-right: 20px;
        width: 16%;
        flex-wrap: 1;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .Tableau {
        display: table-row;
    }
}

@media (max-width: 750px) {
    .newmissionbutton {
        width: 200px;

    }

    .search-bar {
        width: 42.575rem;
        flex-shrink: 1;
        border-radius: 0.4375rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
    }

    .Tableau {
        display: table-row;
    }

    .search-bar svg {
        margin-top: 14px;
        margin-left: 15px;
        margin-right: 10px;
    }




    @media (max-width: 750px) {
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
    }

    .second-container {
        margin-left: 0px;
        margin-right: 20px;
        width: 56%;
        flex-wrap: 1;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .profil img {
        border-radius: 100%;
        width: 2.125rem;
        height: 1.875rem;
        margin-left: 15px;
        margin-top: 8px;
        background: #829ed5;
    }
}

@media screen and (min-width: 375px) and (max-width: 700px) {

    select,
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"] {
        width: 20.04313rem;

    }

    .custom-file-input {


        width: 20.04313rem;

    }

    #chart {

        width: 350px;
    }

    .popup-content {
        width: 18.6875rem;
        margin-left: 5px;
        height: 16.4375rem;
        border-radius: 2.125rem;
        background: white;

    }

    .chezqui {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chiffre_affaire {
        margin-left: 55px;
    }

    .TJMcuurent {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chez {
        margin-left: 25px;
        margin-top: 25px;
        color: #cdc7b9
    }

    .tjm_moyen {
        margin-left: 55px;
    }

    .right-item {
        display: none;
    }

    .container {}

    .newmissionbutton {
        justify-content: center;
        align-items: center;
        margin-left: 75px;
    }

    .button {
        float: none;
    }

    .dropdown-content {
        margin-left: -550px;
    }

}

/* table {
    width: 100%;
  
  } */


/* Adjust styles for smaller screens */
@media screen and (min-width: 375px) and (max-width: 700px) {}


.sp-content {
    position: relative;
}

.sp-container h2 {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 90px;
    margin-top: -50px;
    font-size: 90px;
    width: 100%;
    color: transparent;
    text-align: center;
    -webkit-animation: blurFadeInOut 3s ease-in backwards;
    -moz-animation: blurFadeInOut 3s ease-in backwards;
    -ms-animation: blurFadeInOut 3s ease-in backwards;
    animation: blurFadeInOut 3s ease-in backwards;
}

.sp-container span {
    position: relative;
    /*height: 90px;*/
    width: 100%;
    line-height: 0px;
    font-size: 32px;
    color: transparent;
    text-align: center;
    display: block;
    -webkit-animation: blurFadeInOut 3s ease-in backwards;
    -moz-animation: blurFadeInOut 3s ease-in backwards;
    -ms-animation: blurFadeInOut 3s ease-in backwards;
    animation: blurFadeInOut 3s ease-in backwards;
}

.sp-container span.frame-1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}

.sp-container span.frame-2 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

.sp-container span.frame-3 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

/*.sp-container span.frame-4 {
      font-size: 200px;
      -webkit-animation-delay: 9s;
      -moz-animation-delay: 9s;
      -ms-animation-delay: 9s;
      animation-delay: 9s;
  }
  .sp-container h2.frame-5 {
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation: none;
      color: transparent;
      text-shadow: 0px 0px 1px #fff;
  }
  .sp-container h2.frame-5 span {
      -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
      -moz-animation: blurFadeIn 1s ease-in 12s backwards;
      -ms-animation: blurFadeIn 3s ease-in 12s backwards;
      animation: blurFadeIn 3s ease-in 12s backwards;
      color: transparent;
      text-shadow: 0px 0px 1px #fff;
  }
  .sp-container h2.frame-5 span:nth-child(2) {
      -webkit-animation-delay: 13s;
      -moz-animation-delay: 13s;
      -ms-animation-delay: 13s;
      animation-delay: 13s;
  }
  .sp-container h2.frame-5 span:nth-child(3) {
      -webkit-animation-delay: 14s;
      -moz-animation-delay: 14s;
      -ms-animation-delay: 14s;
      animation-delay: 14s;
  }*/
.sp-circle-link {
    position: relative;
    display: block;
    line-height: 0;
    /*left: 50%;
      bottom: 100px;
      margin-left: -50px;
      text-align: center;
      line-height: 100px;
      width: 100px;
      height: 100px;*/
    color: #C3508C;
    font-size: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: fadeInRotate 1s linear 9s backwards;
    -moz-animation: fadeInRotate 1s linear 9s backwards;
    -ms-animation: fadeInRotate 1s linear 9s backwards;
    animation: fadeInRotate 1s linear 9s backwards;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.sp-circle-link:hover {
    color: #F9D5E9;
    text-decoration: none;
}

/**/
@-webkit-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #C3508C;
        -webkit-transform: scale(1.3);
    }

    20%,
    75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #C3508C;
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #C3508C;
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }

    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        -webkit-transform: scale(1.1);
    }

    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes fadeInBack {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }

    50% {
        opacity: 0.4;
        -webkit-transform: scale(2);
    }

    100% {
        opacity: 0.2;
        -webkit-transform: scale(5);
    }
}

@-webkit-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(360deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
    }
}

/**/
@-moz-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #C3508C;
        -moz-transform: scale(1.3);
    }

    20%,
    75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #C3508C;
        -moz-transform: scale(1);
    }

    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #C3508C;
        -moz-transform: scale(0);
    }
}

@-moz-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -moz-transform: scale(1.3);
    }

    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -moz-transform: scale(1);
    }
}

@-moz-keyframes fadeInBack {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
    }

    50% {
        opacity: 0.4;
        -moz-transform: scale(2);
    }

    100% {
        opacity: 0.2;
        -moz-transform: scale(5);
    }
}

@-moz-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -moz-transform: scale(0) rotate(360deg);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1) rotate(0deg);
    }
}

/**/
@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #C3508C;
        transform: scale(1.3);
    }

    20%,
    75% {
        /*  */
        opacity: 1;
        text-shadow: 0px 0px 1px #C3508C;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #C3508C;
        transform: scale(0);
    }
}

@keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }

    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
}

@keyframes fadeInBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.4;
        transform: scale(2);
    }

    100% {
        opacity: 0.2;
        transform: scale(5);
    }
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: scale(0) rotate(360deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

.multiselect {
    width: 200px;
}

.new {
    display: flex;
    width: 4.9375rem;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #fce9a4;
    color: #bf6f25;
    margin: 5px;
}

.nonvalidée {
    display: flex;
    width: auto;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;

    margin: 5px;
    background: #f3c0c0;
    color: rgb(101, 0, 0);
    margin: 5px;
    font-size: 14px;
}

.waiting {


    display: flex;
    width: auto;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.75rem;
    background: #9bc4f9;
    margin: 5px;
    color: #241df5;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}