.container {
  display: flex;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 250fr 0.5fr;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.logo {
  width: 8.88481rem;
  height: 1.25rem;
  flex-shrink: 0;
  padding: 50px;
}

.pagination {
  margin-top: 20px;
  /* Adjust the spacing between the table and pagination */
  display: flex;
  float: right;
  text-align: right;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 2px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.title {
  margin-top: 7px;

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.0225rem;
  margin-bottom: 20px;
  flex-shrink: 0;
  /* 2.25rem */
}

.first-item {
  color: white;
  position: fixed;
  background: #1e1e1e;
  align-items: center;
  justify-content: center;
  margin-left: -10px;

  margin-top: -8px;

}

.Tableau {
  display: flex;
}

.board-item {
  width: 12.875rem;
  height: 3rem;

  border-radius: 0.4375rem;
  background: rgba(242, 239, 224, 0.1);
  margin-left: 20px;
  display: flex;
}

.custom-item {
  width: 12.875rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 0.4375rem;
  margin-left: 20px;
  display: flex;
}

svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  padding: 10px;
  padding-top: 10px;
}

.bord-text {
  color: #fefcf1;

  font-style: normal;

  /* 1.125rem */
  margin-left: 10px;
  margin-top: 11px;
  /* 1.125rem */
}

.selected {
  display: flex;
  width: auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  border: 2px solid #eae3d5;
  margin: 3.25px;
  padding: 3.25px 8px 3.25px 8px;
  background-color: #fefcf1;
  /* Change to whatever color you want */
}

.faq-sedeconnecter {
  margin-top: 250px;
}

.second-container {
  margin-left: 230px;
  justify-content: center;


}

.button {
  float: right;
}


button {
  color: white;
  display: flex;
  width: 7.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.625rem;
  background: rgb(0, 17, 255);
  color: #FFF;
  margin-top: 2px;
}

.Search-text {
  width: 75%;
  color: #bebcbc;
  padding-top: 11px;
}

input[type="search"] {
  border: none;
  width: 280px;
  height: 40%;
  border: none none;
  outline: none;
}

input[type="search"]:focus {
  border: none none;
  color: none;
}

.search-bar {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0.4375rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
}

@media (max-width: 768px) {
  .container {
    display: row;
    width: 10%;
  }
}

.search-bar svg {
  margin-top: 1px;
  margin-left: 25px;
}

.demande {
  margin-top: 0px;
  width: 25.9375rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 0.4375rem;
  background: white;
  margin: 10px 0px 10px 0px;
  box-shadow: 10px 5px 5px rgb(205, 203, 203);
  display: flex;
  cursor: pointer;
}

.demande1 {
  margin-top: 0px;
  width: 25.9375rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 0.4375rem;
  background: #fef9f1;
  margin: 10px 0px 10px 12px;
  box-shadow: 10px 5px 5px rgb(205, 203, 203);
  display: flex;
}

.demande-ng-consultants {
  display: flex;
}

.demande svg {
  width: 32px;
  height: 31px;
  margin-left: 60px;
  margin-top: 23px;
}

.profil1 svg {
  width: 32px;
  height: 31px;
}

.demande1 svg {
  width: 32px;
  height: 31px;
  margin-left: 60px;
  margin-top: 23px;
}

.nb-demande {
  margin: 30px 30px 30px 10px;
}

.preinscriptions {
  width: 52.6rem;
  min-height: 140px;
  flex-shrink: 0;
  border-radius: 0.6875rem;
  border: 1px solid #EAE3D5;
  background: #f9fafc;
}

.item-preinscription {
  width: 52.51rem;
  height: 4.5625rem;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
}

.checked-box {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  border: 1px solid #d9d9d9;
  background: #fff;
}

input[type="checkbox"] {
  width: 0.85rem;

  flex-shrink: 0;
  border-radius: 0.1875rem;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.nom {
  margin-left: 70px;
}

.header-container {
  display: flex;
  margin-bottom: 30px;
  padding-top: 10px;
}

.member {
  margin-left: 400px;
  margin-right: 25px;
}

.image {
  display: row;
  margin-top: 2px;
  margin-left: 8px;
}

.member-date {
  margin-left: 235px;
  margin-top: 18px;
  color: rgba(29, 29, 29, 0.5);
}

.demande-date {
  margin-left: 60px;
  margin-top: 18px;
  color: rgba(29, 29, 29, 0.5);
}

.profil {
  margin-left: 10px;
  height: 3.125rem;
  width: 12rem;
  border-radius: 15px;
  border: 1px solid rgb(247, 227, 227);
  color: white;
  background: #829ed5;
  display: flex;
  float: right;
}

.profil img {
  border-radius: 100%;
  width: 2.125rem;
  height: 1.875rem;
  margin-left: 15px;
  margin-top: 8px;
  background: #829ed5;
}

.profil1 {
  width: 13rem;
  height: 3.125rem;
  margin-left: -20px;
  border-radius: 15px;
  border: 1px solid rgb(247, 227, 227);
  background: #fef9f1;
  display: flex;
  float: right;
}

.profil1 img {
  border-radius: 100%;
  width: 2.625rem;
  height: 2.175rem;
  margin-left: 15px;
  margin-top: 8px;
}

.historique {
  width: 21.3125rem;

  flex-shrink: 0;
  border-radius: 0.4375rem;
  border: 1px solid #EAE3D5;
  margin-top: 15px;
  float: right;
  min-height: 293px;
  flex-shrink: 0;
  padding-bottom: 10px;
}

.right-item {
  float: right;
  display: row;
  position: relative;
}

.svg {
  margin-top: 8px;
  width: 0.625rem;
  height: 0.625rem;
  flex-shrink: 0;
}

.nom-prenom {
  margin-top: 15px;
  margin-left: 8px;
  color: white;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 1rem */
}

.historique .text {
  color: #000;

  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  margin: 10px;

  /* 1.125rem */
}

.plus {
  color: #ffd200;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin: 11.8px 0 0 75px;
  /* 0.875rem */
}

.circle {
  width: 0.3875rem;
  height: 0.3875rem;
  flex-shrink: 0;
  fill: #2bedb3;
}

.historique-name {
  margin: 10px 30px;
  color: #000;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 4.84563rem;
  line-height: normal;
}

.historiqueconsultantdetails {
  margin: 0px 50px;
  color: #000;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 3.13544rem;
}

.historique-consultant {
  margin: 4px 10px;
  color: #000;

  font-size: 1rem;
  font-style: normal;
  font-weight: 00;
  width: 9.84563rem;
  line-height: normal;
}

.historique-time {
  margin: 10px 150px;
  color: #000;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 3.13544rem;
}

.approved {
  color: rgba(0, 0, 0, 0.75);

  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 35px;
}

.name-of-approved {
  color: rgba(0, 0, 0, 0.35);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 10.26138rem;
  margin-left: 4px;
}

.historique-demandes {
  display: flex;
}

.historique-consultants {
  display: flex;
}

.historique-consultants .plus {
  color: #ffd200;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin: 11.8px 0 0 145px;
}

/* my-component.component.css */
.hidden-div {
  display: none;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the button */
button {
  cursor: pointer;
}

@media (max-width: 750px) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
}

/* my-component.component.css */
.dropdown-menu {
  display: block;
  position: absolute;
  margin-top: 5px;
  /* Adjust the margin as needed */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: -150px;
}

span {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(215, 215, 209, 0.32);
  backdrop-filter: blur(2.6500000953674316px);

  /* Use your preferred shade of green */
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="password"] {
  padding-left: 20px;

  width: 14.12494rem;
  height: 2.62238rem;
  flex-shrink: 0;

  color: white;
  margin-bottom: 10px;
  border: none none;
  outline: none;
  margin-left: 35px;
  border-radius: 0.5rem;
  border: 1px solid #fff1f1;
  background: rgba(255, 255, 255, 0.11);
}

.popup-content {
  width: 25.6875rem;
  margin-left: 50px;
  height: 32.4375rem;
  border-radius: 2.125rem;
  background: rgba(0, 0, 0, 0.55);
  padding: 30px;
  margin-top: 30px;
}

.popup-content-validation {
  width: 35.6875rem;
  margin-left: 50px;
  height: 32.4375rem;
  border-radius: 6.125rem;
  background: rgba(0, 0, 0, 0.55);
  padding: 30px;
  margin-top: 30px;
}

.etape-validation {
  width: 29.1875rem;
  height: 3.33556rem;
  flex-shrink: 0;
  margin-left: 35px;
  border-radius: 0.5rem;
  border: 1px solid #fff1f1;
  background: rgba(255, 255, 255, 0.11);
  display: flex;
  margin-bottom: 20px;
}

.text-validation {
  width: 30.9375rem;
  height: 2.20944rem;
  color: white;
  margin: 15px 0px 0px 50px;
}

.vertical-line {
  height: 54px;
  /* Adjust the height as needed */
  border-left: 2px solid #ffffff;
  /* Adjust the color as needed */
  margin-right: 0px;
}

.close-button {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.close-button1 {
  float: center;
  margin-left: 200px;
}

/* Style for the toggle switch */
.toggle-switch {
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}

/* Style for the checkbox input */
.toggle-switch input {
  display: none;
}

/* Style for the slider (background of the switch) */
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Style for the slider when the toggle is on */
.toggle-switch input:checked+.slider {
  background-color: rgb(85, 205, 85);
}

/* Style for the round knob (indicator) inside the slider */
.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  right: 10px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Style for the round knob when the toggle is on */
.toggle-switch input:checked+.slider:before {
  transform: translateX(26px);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.chiffre_affaire {
  margin: 5px;
  padding: 10px;
  width: 15.25rem;
  height: 6.6875rem;
  flex-shrink: 0;
  border-radius: 0.8125rem;
  border: 1px solid #eae3d5;
  background: #1e1e1e;
  color: white;
}

.tjm_moyen {
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 15px;
  width: 30.25rem;
  height: 30.6875rem;
  flex-shrink: 0;
  box-shadow: 1px 1px 1px 1px rgb(198, 187, 187);
  border-radius: 0.8125rem;

  color: black;
}


.tjm_moyen1 {
  margin: 5px;
  padding: 10px;
  margin-left: 15px;
  width: 30.25rem;
  background-color: rgb(174, 182, 226);
  height: 5.6875rem;
  flex-shrink: 0;
  /* box-shadow: 10px 5px 5px rgb(127, 141, 216); */
  border-radius: 0.8125rem;
  font-size: 2rem;
  color: rgb(9, 8, 91);
  text-align: center;
}

.tjm_moyen2 {
  margin: 5px;
  padding: 10px;
  margin-left: 15px;
  width: 30.25rem;
  background-color: rgb(212, 227, 212);
  height: 5.6875rem;
  font-size: 2rem;
  flex-shrink: 0;
  /* box-shadow: 10px 5px 5px rgb(127, 141, 216); */
  border-radius: 0.8125rem;
  text-align: center;
  color: rgb(18, 84, 18);
}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="time"],
input[type="number"] {
  width: 26.04313rem;
  height: 2.61006rem;
  flex-shrink: 0;

  padding: 8px;
  margin-top: 10px;

  border-radius: 0.5rem;
  border: 1px solid #1e1e1e;

  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
}

.tjm_moyen3 {
  margin: 5px;
  padding: 10px;
  margin-left: 25px;
  width: 59.425rem;
  height: 6.6875rem;
  flex-shrink: 0;
  box-shadow: 1px 1px 1px 1px rgb(198, 187, 187);
  border-radius: 0.8125rem;

  color: black;
}


#cercle {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 5px;
  background: green;
}

#cercle1 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 5px;
  background: rgb(103, 47, 194);
}

#cercle2 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 5px;
  background: rgb(192, 105, 156);
}

#cercle3 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 5px;
  background: rgb(53, 220, 223);
}

.pourcentage {
  width: 2.4375rem;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 0.6875rem;
  border: 1px solid #fefcf1;
}

.pourcentage svg {
  width: 0.775rem;
  height: 0.75rem;

  flex-shrink: 0;
  fill: #fefcf1;
  stroke-width: 0.2px;
  stroke: #fefcf1;
}

.nb_money {

  margin-top: 15px;
  margin-left: 15px;
  font-size: 1rem;
}

.chaffaire {
  color: #cdc7b9;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 1.125rem;
}

.graph svg {
  margin-left: 20px;
  margin-top: 1px;
  width: 5.0375rem;
  height: 3.265rem;
  stroke-width: 3px;
  stroke: #fefcf1;
}

.first {
  display: flex;
  width: auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  border: 2px solid #d5ddea;
  background: #fff;
  margin: 3.25px;
  padding: 3.25px 8px 3.25px 8px;
}


div.exportlist:hover {
  color: white;
  background-color: rgb(34, 18, 209);
}

.export {
  margin-left: 37.5%;
}

.second {
  padding: 10px;

  border-radius: 0rem 0.625rem 0.625rem 0rem;
  background: #eae3d5;
}



.newflex {
  display: flex;
}

.Tableau1 {
  display: flex;
}

.left-first {
  margin-left: 20px;
}

@media screen and (min-width: 1550px) and (max-width: 2100px) {
  .left-first {
    margin-left: 220px;
  }


  .tjm_moyen2 {
    margin-left: 220px;
  }

}

@media screen and (min-width: 375px) and (max-width: 700px) {
  .newflex {
    display: grid;
  }

  .export {
    margin-left: 1.5%;
  }

  /* my-component.component.css */
  .dropdown-menu {
    width: 20rem;
  }

  .first1 {
    display: flex;
    width: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;
    margin: 3.25px;
    padding: 3.25px 8px 3.25px 8px;
  }

  .first {
    display: flex;
    width: 4rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;
    margin: 3.25px;
    padding: 3.25px 8px 3.25px 8px;
  }

  .exportlist {
    width: 8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;
    margin: 3.25px 3.25px 3.25px -3px;
    padding: 8px 8px 8px 8px;
  }

  .rechercher {
    width: 17rem;
  }

  select,
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="number"] {
    width: 20.04313rem;

  }

  .Tableau1 {
    display: grid;
  }

  .custom-file-input {


    width: 20.04313rem;

  }

  #chart {
    margin-left: 0px;
    width: 350px;
  }

  .popup-content {
    width: 18.6875rem;
    margin-left: 5px;
    height: 16.4375rem;
    border-radius: 2.125rem;
    background: white;

  }

  .chezqui {
    margin-top: 5px;
    margin-left: 15px;
  }



  .tjm_moyen {
    margin-left: 5px;
    width: 15.25rem;
  }

  .TJMcuurent {
    margin-top: 5px;
    margin-left: 15px;
  }

  .chez {
    margin-left: 25px;
    margin-top: 25px;
    color: #cdc7b9
  }

  .wrapper {
    display: initial;
    grid-template-columns: initial;
  }

  .right-item {
    display: none;
  }

  .second-container {
    margin-left: 5px;
  }

  .newmissionbutton {
    justify-content: center;
    align-items: center;
    margin-left: 75px;
  }

  .button {
    float: none;
  }

  .dropdown-content {
    margin-left: -550px;
  }

}