<div class="container" style="font-family: 'Poppin', sans-serif !important;">
  <app-left-bar></app-left-bar>
  <div class="second-container">
    <div class="title">
      Mes documents
    </div>
    <!-- <div style="margin-left: 25px">

 

      <div style="display: flex; margin: 0px 15px">
        <div>
          <div>
            <img src="/assets/4035887-200.png"
              style="width: 40px; border-radius: 20%; height: 45px;margin-top: 20px;" />
          </div>
        </div>
        <div style="margin: 15px; margin-top: 40px; font-size: 15px">
          <b> {{ res.firstName }} {{ res.lastName }} </b>
        </div>
      </div>
      <svg class="separator" xmlns="http://www.w3.org/2000/svg" width="361" height="" viewBox="0 0 361 2" fill="none">
        <path d="M0 1H361" stroke="#CDC7B9" stroke-opacity="0.52" stroke-dasharray="8 8" />
      </svg>
      <h3 style="margin-left: 15px">Informations Personnelles</h3>
      <div style="display: flex">
        <input type="text" [value]="res.firstName" readonly />
        <input type="text" [value]="res.lastName" readonly />
      </div>
      <div style="display: flex">
        <input type="email" [value]="res.email" readonly />
        <input type="text" [value]="res.phoneNumber" readonly />
      </div>
      <div style="display: flex">
        <input type="date" [value]="res.dateOfBirth.split('T')[0]" readonly />
        <input type="text" [value]="res.nationality" readonly />
      </div>
      <div style="display: flex">
        <input type="text" [value]="res.location" readonly />
      </div>
      <svg class="separator1" xmlns="http://www.w3.org/2000/svg" width="31" height="20" viewBox="0 0 361 2" fill="none">
        <path d="M0 1H361" stroke="#CDC7B9" stroke-opacity="0.52" stroke-dasharray="8 8" />
      </svg>

    </div> -->

    <!-- <h3 style="margin-left: 35px">Documents associés</h3> -->

    <div class="Tableau" style="margin-left: 25px">
      <div class="doc">
        <div style="display: flex">
          <div class="cercle" style="margin-left: 60px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <g clip-path="url(#clip0_1577_2804)">
                <path
                  d="M3.2002 3.2002L13.4859 3.2002L13.4859 15.2002L11.7716 14.0573L10.0573 15.2002L8.34305 14.0573L6.62877 15.2002L4.91448 14.0573L3.2002 15.2002L3.2002 3.2002Z"
                  stroke="#DD6E42" stroke-miterlimit="10" stroke-linecap="square" />
                <path d="M5.48535 11.2002H8.34249" stroke="#DD6E42" stroke-miterlimit="10" stroke-linecap="square" />
                <path d="M10.6279 11.2002H11.1994" stroke="#DD6E42" stroke-miterlimit="10" stroke-linecap="square" />
                <path
                  d="M8.34222 8.91392C9.28899 8.91392 10.0565 8.14641 10.0565 7.19964C10.0565 6.25286 9.28899 5.48535 8.34222 5.48535C7.39544 5.48535 6.62793 6.25286 6.62793 7.19964C6.62793 8.14641 7.39544 8.91392 8.34222 8.91392Z"
                  stroke="#DD6E42" stroke-miterlimit="10" stroke-linecap="square" />
              </g>
              <defs>
                <clipPath id="clip0_1577_2804">
                  <rect width="16" height="16" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div style="
              margin-top: 10px;
              color: #323842;

              font-size: 1.175rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1.375rem; /* 157.143% */
            ">
            CNI
          </div>
        </div>

        <img *ngIf="!identificationDocument && res.identificationDocument.split('/')[-1]!='pdf'"
          formControlName="identificationDocument" [src]="res.identificationDocument" width="80%" height="50%" />

        <div *ngIf="!identificationDocument && res.identificationDocument.split('/')[-1]==='pdf'" id="pdfContainer2"
          class="pdfContainer"></div>
        <div *ngIf="identificationDocument" style="height: 65%">
          <img [src]="identificationDocument" alt="Selected Image" width="80%" height="60%" />
        </div>

        <div style="display: flex">
          <div class="telecharger"
            (click)="downloadFile(res.identificationDocument,res.identificationDocument.split('uploads/')[1].split('.')[0])">
            Télécharger
            <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 7 7" fill="none">
              <path
                d="M1.08519 3.99787C1.22762 4.57197 1.54149 5.07927 1.9781 5.44109C2.41471 5.80291 2.94966 5.99902 3.5 5.99902C4.05034 5.99902 4.58529 5.80291 5.0219 5.44109C5.45851 5.07927 5.77238 4.57197 5.91481 3.99787"
                stroke="#379AE6" stroke-width="0.7" />
              <path
                d="M3.5 3.99902L3.26747 4.26062L3.5 4.46731L3.73253 4.26062L3.5 3.99902ZM3.85 0.999023C3.85 0.805724 3.6933 0.649023 3.5 0.649023C3.3067 0.649023 3.15 0.805723 3.15 0.999023L3.85 0.999023ZM1.76747 2.92728L3.26747 4.26062L3.73253 3.73743L2.23253 2.4041L1.76747 2.92728ZM3.73253 4.26062L5.23253 2.92728L4.76747 2.4041L3.26747 3.73743L3.73253 4.26062ZM3.85 3.99902L3.85 0.999023L3.15 0.999023L3.15 3.99902L3.85 3.99902Z"
                fill="#379AE6" />
            </svg>
          </div>

          <div class="Remplacer" (click)="openFileInput()">
            Remplacer
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
              <path
                d="M1.08519 4.14705C1.22762 4.67863 1.54149 5.14836 1.9781 5.48338C2.41471 5.81841 2.94966 6 3.5 6C4.05034 6 4.58529 5.81841 5.0219 5.48338C5.45851 5.14836 5.77238 4.67863 5.91481 4.14705"
                stroke="#BF6F25" stroke-width="0.7" />
              <path
                d="M3.5 1L3.26747 0.738407L3.5 0.531716L3.73253 0.738407L3.5 1ZM3.85 4C3.85 4.1933 3.6933 4.35 3.5 4.35C3.3067 4.35 3.15 4.1933 3.15 4L3.85 4ZM1.76747 2.07174L3.26747 0.738407L3.73253 1.26159L2.23253 2.59493L1.76747 2.07174ZM3.73253 0.738407L5.23253 2.07174L4.76747 2.59493L3.26747 1.26159L3.73253 0.738407ZM3.85 1L3.85 4L3.15 4L3.15 1L3.85 1Z"
                fill="#BF6F25" />
            </svg>
          </div>
          <input type="file" style="display: none" (change)="setFileInput('identificationDocument', $event)"
            #fileInput />
        </div>
      </div>
      <div *ngIf="res.carInfo.drivingLicense.split('/')[-1] !=  null">


        <div class="doc">
          <div style="display: flex">
            <div class="cercle">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_1577_2830)">
                  <path
                    d="M3.2002 3.2002L13.4859 3.2002L13.4859 15.2002L11.7716 14.0573L10.0573 15.2002L8.34305 14.0573L6.62877 15.2002L4.91448 14.0573L3.2002 15.2002L3.2002 3.2002Z"
                    stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M5.48535 11.2002H8.34249" stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M10.6279 11.2002H11.1994" stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                  <path
                    d="M8.34222 8.91392C9.28899 8.91392 10.0565 8.14641 10.0565 7.19964C10.0565 6.25286 9.28899 5.48535 8.34222 5.48535C7.39544 5.48535 6.62793 6.25286 6.62793 7.19964C6.62793 8.14641 7.39544 8.91392 8.34222 8.91392Z"
                    stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                </g>
                <defs>
                  <clipPath id="clip0_1577_2830">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>

            <div style="
              margin-top: 10px;
              margin-left: 0px;
              color: #323842;

              font-style: normal;
              font-weight: 700;
              line-height: 1.375rem; /* 157.143% */
            ">
              Permis de Conduire
            </div>
          </div>



          <img *ngIf="!permis_img && res.carInfo.drivingLicense.split('/')[-1]!='pdf'" formControlName="drivingLicense"
            [src]="res.carInfo.drivingLicense" width="80%" height="50%" />
          <div *ngIf="!permis_img && res.carInfo.drivingLicense.split('/')[-1]==='pdf'" id="pdfContainer1"
            class="pdfContainer"></div>
          <div *ngIf="permis_img" style="height: 65%">
            <img [src]="permis_img" alt="Selected Image" width="80%" height="60%" />
          </div>
          <div style="display: flex">
            <div class="telecharger"
              (click)="downloadFile(res.carInfo.drivingLicense,res.carInfo.drivingLicense.split('uploads/')[1].split('.')[0])">
              Télécharger
              <svg xmlns=" http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 7 7" fill="none">
                <path
                  d="M1.08519 3.99787C1.22762 4.57197 1.54149 5.07927 1.9781 5.44109C2.41471 5.80291 2.94966 5.99902 3.5 5.99902C4.05034 5.99902 4.58529 5.80291 5.0219 5.44109C5.45851 5.07927 5.77238 4.57197 5.91481 3.99787"
                  stroke="#379AE6" stroke-width="0.7" />
                <path
                  d="M3.5 3.99902L3.26747 4.26062L3.5 4.46731L3.73253 4.26062L3.5 3.99902ZM3.85 0.999023C3.85 0.805724 3.6933 0.649023 3.5 0.649023C3.3067 0.649023 3.15 0.805723 3.15 0.999023L3.85 0.999023ZM1.76747 2.92728L3.26747 4.26062L3.73253 3.73743L2.23253 2.4041L1.76747 2.92728ZM3.73253 4.26062L5.23253 2.92728L4.76747 2.4041L3.26747 3.73743L3.73253 4.26062ZM3.85 3.99902L3.85 0.999023L3.15 0.999023L3.15 3.99902L3.85 3.99902Z"
                  fill="#379AE6" />
              </svg>
            </div>
            <div class="Remplacer" (click)="openfileInputdrivinglicenceInput()">
              Remplacer
              <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                <path
                  d="M1.08519 4.14705C1.22762 4.67863 1.54149 5.14836 1.9781 5.48338C2.41471 5.81841 2.94966 6 3.5 6C4.05034 6 4.58529 5.81841 5.0219 5.48338C5.45851 5.14836 5.77238 4.67863 5.91481 4.14705"
                  stroke="#BF6F25" stroke-width="0.7" />
                <path
                  d="M3.5 1L3.26747 0.738407L3.5 0.531716L3.73253 0.738407L3.5 1ZM3.85 4C3.85 4.1933 3.6933 4.35 3.5 4.35C3.3067 4.35 3.15 4.1933 3.15 4L3.85 4ZM1.76747 2.07174L3.26747 0.738407L3.73253 1.26159L2.23253 2.59493L1.76747 2.07174ZM3.73253 0.738407L5.23253 2.07174L4.76747 2.59493L3.26747 1.26159L3.73253 0.738407ZM3.85 1L3.85 4L3.15 4L3.15 1L3.85 1Z"
                  fill="#BF6F25" />
              </svg>
            </div>
            <input type="file" style="display: none" (change)="setFileInput('drivingLicense', $event)"
              #fileInputdrivinglicence />
          </div>
        </div>
      </div>
      <div class="doc">
        <div style="display: flex; margin-left: 25px">
          <div class="cercle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <g clip-path="url(#clip0_1577_2830)">
                <path
                  d="M3.2002 3.2002L13.4859 3.2002L13.4859 15.2002L11.7716 14.0573L10.0573 15.2002L8.34305 14.0573L6.62877 15.2002L4.91448 14.0573L3.2002 15.2002L3.2002 3.2002Z"
                  stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                <path d="M5.48535 11.2002H8.34249" stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                <path d="M10.6279 11.2002H11.1994" stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                <path
                  d="M8.34222 8.91392C9.28899 8.91392 10.0565 8.14641 10.0565 7.19964C10.0565 6.25286 9.28899 5.48535 8.34222 5.48535C7.39544 5.48535 6.62793 6.25286 6.62793 7.19964C6.62793 8.14641 7.39544 8.91392 8.34222 8.91392Z"
                  stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
              </g>
              <defs>
                <clipPath id="clip0_1577_2830">
                  <rect width="16" height="16" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div style="
              margin-top: 10px;
              margin-left: 0px;
              color: #323842;

              font-weight: 700;
              line-height: 1.375rem; /* 157.143% */
            ">
            RIB
          </div>
        </div>

        <img *ngIf="!rib_img && res.ribDocument.split('/')[-1]!='pdf'" formControlName="ribDocument"
          [src]="res.ribDocument" width="80%" height="50%" />


        <div *ngIf="!rib_img && res.ribDocument.split('/')[-1]==='pdf'" id="pdfContainer3" class="pdfContainer"></div>
        <div *ngIf="rib_img" style="height: 65%">
          <img [src]="rib_img" alt="Selected Image" width="80%" height="60%" />
        </div>
        <div style="display: flex">
          <div class="telecharger"
            (click)="downloadFile(res.ribDocument,res.ribDocument.split('uploads/')[1].split('.')[0])">
            Télécharger
            <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 7 7" fill="none">
              <path
                d="M1.08519 3.99787C1.22762 4.57197 1.54149 5.07927 1.9781 5.44109C2.41471 5.80291 2.94966 5.99902 3.5 5.99902C4.05034 5.99902 4.58529 5.80291 5.0219 5.44109C5.45851 5.07927 5.77238 4.57197 5.91481 3.99787"
                stroke="#379AE6" stroke-width="0.7" />
              <path
                d="M3.5 3.99902L3.26747 4.26062L3.5 4.46731L3.73253 4.26062L3.5 3.99902ZM3.85 0.999023C3.85 0.805724 3.6933 0.649023 3.5 0.649023C3.3067 0.649023 3.15 0.805723 3.15 0.999023L3.85 0.999023ZM1.76747 2.92728L3.26747 4.26062L3.73253 3.73743L2.23253 2.4041L1.76747 2.92728ZM3.73253 4.26062L5.23253 2.92728L4.76747 2.4041L3.26747 3.73743L3.73253 4.26062ZM3.85 3.99902L3.85 0.999023L3.15 0.999023L3.15 3.99902L3.85 3.99902Z"
                fill="#379AE6" />
            </svg>
          </div>
          <div class="Remplacer" (click)="openfileInputdibInput()">
            Remplacer
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
              <path
                d="M1.08519 4.14705C1.22762 4.67863 1.54149 5.14836 1.9781 5.48338C2.41471 5.81841 2.94966 6 3.5 6C4.05034 6 4.58529 5.81841 5.0219 5.48338C5.45851 5.14836 5.77238 4.67863 5.91481 4.14705"
                stroke="#BF6F25" stroke-width="0.7" />
              <path
                d="M3.5 1L3.26747 0.738407L3.5 0.531716L3.73253 0.738407L3.5 1ZM3.85 4C3.85 4.1933 3.6933 4.35 3.5 4.35C3.3067 4.35 3.15 4.1933 3.15 4L3.85 4ZM1.76747 2.07174L3.26747 0.738407L3.73253 1.26159L2.23253 2.59493L1.76747 2.07174ZM3.73253 0.738407L5.23253 2.07174L4.76747 2.59493L3.26747 1.26159L3.73253 0.738407ZM3.85 1L3.85 4L3.15 4L3.15 1L3.85 1Z"
                fill="#BF6F25" />
            </svg>
          </div>
          <input type="file" style="display: none" (change)="setFileInput('ribDocument', $event)" #fileInputdib />
        </div>
      </div>
    </div>
    <h3 class="title">Autres documents</h3>

    <button (click)="card_view()" *ngIf="!card" class="Grille" [ngClass]="{
      Grille1: shownotiff == false,

    }"> Grille </button>
    <button (click)="list_view()" *ngIf="card" class="Grille" [ngClass]="{
      Grille1: shownotiff == false,

    }"> Liste</button>
    <div *ngIf="!card" class="docs" [ngClass]="{
        docs1: shownotiff == false,
  
      }">
      <div *ngFor="let item_doc of docs; let i = index">
        <div class="doc">
          <div style="display: flex">
            <div class="cercle">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_1577_2830)">
                  <path
                    d="M3.2002 3.2002L13.4859 3.2002L13.4859 15.2002L11.7716 14.0573L10.0573 15.2002L8.34305 14.0573L6.62877 15.2002L4.91448 14.0573L3.2002 15.2002L3.2002 3.2002Z"
                    stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M5.48535 11.2002H8.34249" stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M10.6279 11.2002H11.1994" stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                  <path
                    d="M8.34222 8.91392C9.28899 8.91392 10.0565 8.14641 10.0565 7.19964C10.0565 6.25286 9.28899 5.48535 8.34222 5.48535C7.39544 5.48535 6.62793 6.25286 6.62793 7.19964C6.62793 8.14641 7.39544 8.91392 8.34222 8.91392Z"
                    stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                </g>
                <defs>
                  <clipPath id="clip0_1577_2830">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div style="
                margin-top: 10px;
                margin-left: 0px;
                color: #323842;

                font-weight: 700;
                line-height: 1.375rem; /* 157.143% */
              ">
              {{ item_doc.documentName }}
            </div>
          </div>
          <div *ngIf="item_doc.pdf" id="pdfContainer{{ i }}" class="pdfContainer"
            (click)=" downloadDocument(item_doc.document, item_doc.documentName)"></div>

          <img *ngIf="!item_doc.pdf" [src]="item_doc.document" width="80%" height="50%"
            (click)="downloadDocument(item_doc.document, item_doc.documentName)" />

          <div style="display: flex;margin-left: 50px;">
            <div class="telecharger" (click)="downloadFile(item_doc.document,item_doc.documentName)">
              Télécharger
              <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 7 7" fill="none">
                <path
                  d="M1.08519 3.99787C1.22762 4.57197 1.54149 5.07927 1.9781 5.44109C2.41471 5.80291 2.94966 5.99902 3.5 5.99902C4.05034 5.99902 4.58529 5.80291 5.0219 5.44109C5.45851 5.07927 5.77238 4.57197 5.91481 3.99787"
                  stroke="#379AE6" stroke-width="0.7" />
                <path
                  d="M3.5 3.99902L3.26747 4.26062L3.5 4.46731L3.73253 4.26062L3.5 3.99902ZM3.85 0.999023C3.85 0.805724 3.6933 0.649023 3.5 0.649023C3.3067 0.649023 3.15 0.805723 3.15 0.999023L3.85 0.999023ZM1.76747 2.92728L3.26747 4.26062L3.73253 3.73743L2.23253 2.4041L1.76747 2.92728ZM3.73253 4.26062L5.23253 2.92728L4.76747 2.4041L3.26747 3.73743L3.73253 4.26062ZM3.85 3.99902L3.85 0.999023L3.15 0.999023L3.15 3.99902L3.85 3.99902Z"
                  fill="#379AE6" />
              </svg>
            </div>
            <!-- <div class="Remplacer" (click)="openfileInputdibInput()">
              Remplacer
              <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                <path
                  d="M1.08519 4.14705C1.22762 4.67863 1.54149 5.14836 1.9781 5.48338C2.41471 5.81841 2.94966 6 3.5 6C4.05034 6 4.58529 5.81841 5.0219 5.48338C5.45851 5.14836 5.77238 4.67863 5.91481 4.14705"
                  stroke="#BF6F25" stroke-width="0.7" />
                <path
                  d="M3.5 1L3.26747 0.738407L3.5 0.531716L3.73253 0.738407L3.5 1ZM3.85 4C3.85 4.1933 3.6933 4.35 3.5 4.35C3.3067 4.35 3.15 4.1933 3.15 4L3.85 4ZM1.76747 2.07174L3.26747 0.738407L3.73253 1.26159L2.23253 2.59493L1.76747 2.07174ZM3.73253 0.738407L5.23253 2.07174L4.76747 2.59493L3.26747 1.26159L3.73253 0.738407ZM3.85 1L3.85 4L3.15 4L3.15 1L3.85 1Z"
                  fill="#BF6F25" />
              </svg>
            </div> -->
            <input type="file" style="display: none" (change)="setFileInput('ribDocument', $event)" #fileInputdib />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="card">
      <table class="table" [ngClass]="{
        table1: shownotiff == false,
  
      }">
        <thead>
          <th style="border-radius: 0.6875rem 0rem 0rem 0rem"></th>

          <th>Document</th>
          <th>Date</th>
          <th></th>
          <th style="border-radius: 0rem 0.6875rem 0rem 0rem"></th>
        </thead>
        <tbody>
          <tr *ngFor="let doc of getDisplayeddocs(); let i = index">
            <td></td>

            <td>{{ doc.documentName }}</td>
            <td>{{ formatDate( doc.createdAt.split(["T"])[0]) }}</td>
            <td>
              <div (click)="downloadFile(doc.document,doc.documentName)" style="
                  display: flex;
                  cursor: pointer;
                  height: 1.5rem;
                  padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
                  justify-content: center;
                  align-items: center;
                  flex-shrink: 0;
                  border-radius: 0.75rem;

                  margin-left: 0px;
                  background: #f1f8fd;
                  color: #379ae6;
                ">
                Télécharger
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="pagination" [ngClass]="{
        pagination1: shownotiff == false,
  
      }">
        <div (click)="previousPage()" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            <path fill-rule="evenodd"
              d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
          </svg>
        </div>


        <span style="margin-top: 10px;"> {{ currentPage }} sur {{ totalPages }}</span>
        <div (click)="nextPage()" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
            <path fill-rule="evenodd"
              d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
          </svg>
        </div>

      </div>
    </div>


  </div>

  <div class="right-item">
    <div style="display: flex;margin-bottom: 0px;">
      <div class="profil1" (click)="shownotif()" style="cursor: pointer;">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
            <path
              d="M23.2203 20.62C23.2203 21.47 22.5303 22.16 21.6803 22.16H8.32027C7.47027 22.16 6.78027 21.47 6.78027 20.62C6.78027 19.77 7.47027 19.08 8.32027 19.08H8.83027V13.94C8.83027 10.54 11.5903 7.77002 15.0003 7.77002C16.7003 7.77002 18.2403 8.46002 19.3603 9.58002C20.4803 10.69 21.1703 12.23 21.1703 13.94V19.08H21.6803C22.5303 19.08 23.2203 19.77 23.2203 20.62Z"
              stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M15 7.78V6.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M18.0799 22.1699C18.0799 23.8799 16.6999 25.2499 14.9999 25.2499C13.2999 25.2499 11.9199 23.8699 11.9199 22.1699H18.0799Z"
              stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <circle cx="21.5" cy="7.5" r="4.5" fill="#F33A2A"
              *ngIf="notification.length > 0 || new_notif === 'true' " />
          </svg>
        </div>
        <div>
          <div style="width: 240px; margin-top: 10px; font-size: 0.8125rem">
            <b> Toutes les notifications </b>
          </div>
          <div style="
              color: rgba(0, 0, 0, 0.52);
  
              font-size: 0.8125rem;
              font-style: normal;
              font-weight: 400;
  
              line-height: 100%; /* 0.8125rem */
            ">
            {{ nblastnotifications }} notifications
          </div>
        </div>

      </div>
      <div class="profil" (click)="gotomyprofile()" style="cursor: pointer;">
        <img src="/assets/avatar-user.png" width="15%" height="10%" />
        <div class="nom-prenom">{{res.firstName}} {{res.lastName}} <br>

        </div>

      </div>
    </div>
    <!-- <app-notification *ngIf="shownotiff"></app-notification> -->
  </div>
</div>