<div class="container" style="font-family: 'Poppin', sans-serif !important;">
    <app-left-bar></app-left-bar>
    <div class="loader" *ngIf="!show"> <img src="/assets/logo2.png" width="120%" /> </div>
    <div class="second-container" *ngIf="show">
        <div class="title" style="max-width: 15rem;">
            Mes documents
        </div>
        <button (click)="openPopup()" *ngIf="role == 'enseignant'"> Ajouter un document</button>


        <div *ngIf="!card" class="docs" [ngClass]="{
          docs1: shownotiff == false,
    
        }">
            <div *ngFor="let item_doc of docs; let i = index">
                <div class="doc">
                    <div style="display: flex">
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <g clip-path="url(#clip0_1577_2830)">
                                    <path
                                        d="M3.2002 3.2002L13.4859 3.2002L13.4859 15.2002L11.7716 14.0573L10.0573 15.2002L8.34305 14.0573L6.62877 15.2002L4.91448 14.0573L3.2002 15.2002L3.2002 3.2002Z"
                                        stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                                    <path d="M5.48535 11.2002H8.34249" stroke="#A67DB8" stroke-miterlimit="10"
                                        stroke-linecap="square" />
                                    <path d="M10.6279 11.2002H11.1994" stroke="#A67DB8" stroke-miterlimit="10"
                                        stroke-linecap="square" />
                                    <path
                                        d="M8.34222 8.91392C9.28899 8.91392 10.0565 8.14641 10.0565 7.19964C10.0565 6.25286 9.28899 5.48535 8.34222 5.48535C7.39544 5.48535 6.62793 6.25286 6.62793 7.19964C6.62793 8.14641 7.39544 8.91392 8.34222 8.91392Z"
                                        stroke="#A67DB8" stroke-miterlimit="10" stroke-linecap="square" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1577_2830">
                                        <rect width="16" height="16" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div style="
                  margin-top: 10px;
                  margin-left: 0px;
                  color: #323842;
  
                  font-weight: 700;
                  line-height: 1.375rem; /* 157.143% */
                ">
                            {{ item_doc.titre }}
                        </div>
                    </div>
                    <div *ngIf="item_doc.pdf" id="pdfContainer{{ i }}" class="pdfContainer"
                        (click)=" downloadDocument(item_doc.document, item_doc.documentName)"></div>

                    <img *ngIf="!item_doc.pdf" [src]="item_doc.document" width="80%" height="50%"
                        (click)="downloadDocument(item_doc.document, item_doc.documentName)" />
                    <b style="margin-left: 80px;"> {{ item_doc.added_at.split('T')[0] }}</b>
                    <div style="display: flex;margin-left: 50px;">
                        <div class="telecharger" (click)="downloadFile(item_doc.document,item_doc.documentName)">
                            Télécharger
                            <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 7 7" fill="none">
                                <path
                                    d="M1.08519 3.99787C1.22762 4.57197 1.54149 5.07927 1.9781 5.44109C2.41471 5.80291 2.94966 5.99902 3.5 5.99902C4.05034 5.99902 4.58529 5.80291 5.0219 5.44109C5.45851 5.07927 5.77238 4.57197 5.91481 3.99787"
                                    stroke="#379AE6" stroke-width="0.7" />
                                <path
                                    d="M3.5 3.99902L3.26747 4.26062L3.5 4.46731L3.73253 4.26062L3.5 3.99902ZM3.85 0.999023C3.85 0.805724 3.6933 0.649023 3.5 0.649023C3.3067 0.649023 3.15 0.805723 3.15 0.999023L3.85 0.999023ZM1.76747 2.92728L3.26747 4.26062L3.73253 3.73743L2.23253 2.4041L1.76747 2.92728ZM3.73253 4.26062L5.23253 2.92728L4.76747 2.4041L3.26747 3.73743L3.73253 4.26062ZM3.85 3.99902L3.85 0.999023L3.15 0.999023L3.15 3.99902L3.85 3.99902Z"
                                    fill="#379AE6" />
                            </svg>
                        </div>
                        <!-- <div class="Remplacer" (click)="openfileInputdibInput()">
                Remplacer
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                  <path
                    d="M1.08519 4.14705C1.22762 4.67863 1.54149 5.14836 1.9781 5.48338C2.41471 5.81841 2.94966 6 3.5 6C4.05034 6 4.58529 5.81841 5.0219 5.48338C5.45851 5.14836 5.77238 4.67863 5.91481 4.14705"
                    stroke="#BF6F25" stroke-width="0.7" />
                  <path
                    d="M3.5 1L3.26747 0.738407L3.5 0.531716L3.73253 0.738407L3.5 1ZM3.85 4C3.85 4.1933 3.6933 4.35 3.5 4.35C3.3067 4.35 3.15 4.1933 3.15 4L3.85 4ZM1.76747 2.07174L3.26747 0.738407L3.73253 1.26159L2.23253 2.59493L1.76747 2.07174ZM3.73253 0.738407L5.23253 2.07174L4.76747 2.59493L3.26747 1.26159L3.73253 0.738407ZM3.85 1L3.85 4L3.15 4L3.15 1L3.85 1Z"
                    fill="#BF6F25" />
                </svg>
              </div> -->
                        <input type="file" style="display: none" (change)="setFileInput('ribDocument', $event)"
                            #fileInputdib />
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="right-item">
        <div style="display: flex;margin-bottom: 0px;">

            <div class="profil" style="cursor: pointer;">
                <img src="/assets/avatar-user.png" width="15%" height="10%" />
                <div class="nom-prenom">{{fullname}} <br>

                </div>

            </div>
        </div>
        <!-- <app-notification *ngIf="shownotiff"></app-notification> -->
    </div>
</div>
<div class="popup" *ngIf="showPopup">
    <div class="popup-content" style="  height: 55%">
        <div style="float: right" (click)="closePopup()">
            <img class="close-button" src="/assets/close.png" width="50%" height="50%" />
        </div>
        <div>
            <h3>Déclarer une nouvelle demande</h3>

            <form action="/submit_form" method="post" style="display: flex" [formGroup]="myForm2">
                <div class="form-section">
                    <div class="grid-container">
                        <div class="grid-item">

                            <select formControlName="classe_id">
                                <option value=""> Selectioner classe</option>
                                <option *ngFor="let item of all_classes" [value]="item.code
                  ">{{item.code}}</option>
                            </select>

                        </div>
                        <div class="grid-item">
                            <input type="text" formControlName="titre" placeholder="titre" required />
                        </div>

                        <div class="custom-file-input" (change)="setFileInput('isSimulationValidated', $event)"
                            onclick="document.getElementById('isSimulationValidated').click()">
                            <label class="file-label" for="Simulation" style="cursor: pointer;" *ngIf="!selectedFile">
                                document justificatif </label>
                            <label class="file-label" for="Simulation" style="cursor: pointer;"
                                *ngIf="selectedFile">{{selectedFile.name}}</label>

                            <div class="vertical-line"></div>
                            <input class="file-input" type="file" id="isSimulationValidated"
                                formControlName="isSimulationValidated" name="Simulation"
                                (change)="setFileInput('isSimulationValidated', $event)">
                            <div class="upload-icon" onclick="document.getElementById('isSimulationValidated').click()">
                                <div class="chose-file"> choisir un fichier <br>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                        class="icon-file" fill="none">
                                        <g clip-path="url(#clip0_972_185)">
                                            <path
                                                d="M0.5 10.5V11.5C0.5 12.0304 0.710714 12.5391 1.08579 12.9142C1.46086 13.2893 1.96957 13.5 2.5 13.5H11.5C12.0304 13.5 12.5391 13.2893 12.9142 12.9142C13.2893 12.5391 13.5 12.0304 13.5 11.5V10.5"
                                                stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M4 4L7 0.5L10 4" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M7 0.5V9.5" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_972_185">
                                                <rect width="14" height="14" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="buttons" (click)="verification_absence()">
                        <button type="submit" class="button">
                            <div class="inscrire">Ajouter</div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>