.container {
    display: flex;
    width: 100%;
    font-family: "Poppins", sans-serif !important;
}

.logo {
    width: 8.88481rem;
    height: 1.25rem;
    flex-shrink: 0;
    padding: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 250fr 0.5fr;
    font-family: "Poppins", sans-serif !important;
}

.title {

    margin-top: 7px;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0225rem;
    margin-bottom: 20px;
    flex-shrink: 0;
    /* 2.25rem */
}

.first-item {
    color: white;
    position: fixed;
    background: black;
    align-items: center;
    justify-content: center;
}

.Tableau {
    display: flex;
}

table {
    width: 100%;
}

.table1 {
    width: 132%;
}

.board-item {
    width: 12.875rem;
    height: 3rem;

    border-radius: 0.4375rem;
    background: rgba(242, 239, 224, 0.1);
    margin-left: 20px;
    display: flex;
}

.custom-item {
    width: 12.875rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    margin-left: 20px;
    display: flex;
}


.bord-text {
    color: #fefcf1;

    font-style: normal;

    /* 1.125rem */
    margin-left: 10px;
    margin-top: 11px;
    /* 1.125rem */
}

.pagination {
    margin-top: 20px;
    /* Adjust the spacing between the table and pagination */
    display: flex;
    float: right;
    text-align: right;
}


.pagination1 {
    margin-top: 20px;
    /* Adjust the spacing between the table and pagination */
    display: flex;
    float: right;
    margin-right: -250px;
    text-align: right;
}

.faq-sedeconnecter {
    margin-top: 250px;
}

.second-container {
    margin-left: 240px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 56%;
    height: autp;
    flex-wrap: 1;
    flex-grow: 1;
    flex-shrink: 0;
}

.button {
    float: right;
}

button {
    color: white;
    display: flex;
    width: 14.68075rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.625rem;
    background: rgb(0, 17, 255);
    margin-top: 2px;
    margin: 10px;
}


.Search-text {
    width: 75%;
    color: #bebcbc;
    padding-top: 11px;
}

input[type="search"] {
    border: none;
    width: 100%;
    height: 80%;
    border: none none;
    outline: none;
}

input[type="search"]:focus {
    border: none none;
    color: none;
}

.search-bar {
    width: 52.575rem;
    flex-shrink: 1;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
}

@media (max-width: 768px) {
    .container {
        display: row;
        width: 10%;
    }
}

.search-bar svg {
    margin-top: 8px;
    margin-left: 25px;
}

.demande {
    margin-top: 0px;
    width: 25.9375rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    background: #fef9f1;
    margin: 10px 0px 10px 0px;
    display: flex;
}

.demande1 {
    margin-top: 0px;
    width: 25.9375rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    background: #fef9f1;
    margin: 10px 0px 10px 12px;
    display: flex;
}

.demande-ng-consultants {
    display: flex;
}

.demande svg {
    width: 32px;
    height: 31px;
    margin-top: 15px;
}

.demande1 svg {
    width: 32px;
    height: 31px;
    margin-top: 15px;
}

.nb-demande {
    margin-top: 22px;
}

.nom {
    margin-left: 70px;
}

.header-container {
    display: flex;
    margin-bottom: 30px;
    padding-top: 10px;
}

.member {
    margin-left: 400px;
    margin-right: 25px;
}

.image {
    display: row;
    margin-top: 3px;
    margin-left: 8px;
}

.member-date {
    margin-left: 55px;
    margin-top: 19.5px;
    color: rgba(29, 29, 29, 0.5);
}

.demande-date {
    margin-left: 50px;
    margin-top: 19.5px;
    color: rgba(29, 29, 29, 0.5);
}


svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 10px;
}

.profil {
    margin-left: 10px;
    height: 3.125rem;
    width: 12rem;
    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    color: white;
    background: #829ed5;
    display: flex;
    float: right;
}

.profil1 svg {
    width: 32px;
    height: 31px;
}

.profil1 {
    width: 13rem;
    height: 3.125rem;
    margin-left: -20px;
    border: 1px solid rgb(247, 227, 227);
    border-radius: 15px;
    background: #fef9f1;
    display: flex;
    float: right;
}

.profil1 img {
    border-radius: 100%;
    width: 2.625rem;
    height: 2.175rem;
    margin-left: 15px;
    margin-top: 8px;
}


.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
    background: #829ed5;
}

.pending1 {
    width: 75%;
}

.right-item {
    height: 10px;
}

.docs {
    display: flex;
    flex-wrap: wrap;
    min-width: 860px;
    margin-left: 25px;
}

.Grille {
    width: 20%;
    margin-left: 80%;
}

.Grille1 {
    width: 20%;
    margin-left: 112%;
}

.docs1 {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    margin-left: 25px;
}


.historique {
    width: 21.3125rem;

    flex-shrink: 0;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    float: right;
    min-height: 293px;
    flex-shrink: 0;
    padding-bottom: 10px;
}

.svg {
    margin-top: 8px;
    width: 0.625rem;
    height: 0.625rem;
    flex-shrink: 0;
}

.nom-prenom {
    margin-top: 15px;
    margin-left: 8px;
    color: white;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
}

.historique .text {
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin: 10px;

    /* 1.125rem */
}

.plus {
    color: #ffd200;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 11.8px 0 0 75px;
    /* 0.875rem */
}

.circle {
    width: 0.3875rem;
    height: 0.3875rem;
    flex-shrink: 0;
    fill: #2bedb3;
}

.historique-name {
    margin: 10px 30px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 4.84563rem;
    line-height: normal;
}

.historiqueconsultantdetails {
    margin: 0px 50px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 3.13544rem;
}

.historique-consultant {
    margin: 4px 10px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 00;
    width: 9.84563rem;
    line-height: normal;
}

.historique-time {
    margin: 10px 150px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 3.13544rem;
}

.approved {
    color: rgba(0, 0, 0, 0.75);

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 35px;
}

.name-of-approved {
    color: rgba(0, 0, 0, 0.35);

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10.26138rem;
    margin-left: 4px;
}

.historique-demandes {
    display: flex;
}

.historique-consultants {
    display: flex;
}

.historique-consultants .plus {
    color: #ffd200;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 11.8px 0 0 145px;
}

/* my-component.component.css */
.hidden-div {
    display: none;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-mission {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: #000;
    display: flex;
    border-radius: 2.65625rem;
}

.first-part {
    margin-left: 7%;
    margin-top: 0.7%;
    width: 50%;
    height: 80%;
    flex-shrink: 0;
    border-radius: 1.59375rem 0rem 0rem 1.59375rem;
    border: 1px solid #000;
    background: #0a0d15;
    box-shadow: 4px 4px 39.1px 0px rgba(255, 255, 255, 0.25) inset;
}

.second-part {
    margin-top: 0.8%;
    width: 35%;
    height: 80%;
    flex-shrink: 0;
    border-radius: 0rem 1.59375rem 1.59375rem 0rem;
    background: #fff;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.first-part-text {
    margin: 20px 20px 0px 200px;
    margin-top: 15px;
    color: white;
    font-size: 25px;
}

.second-part-text {
    margin: 20px 0px 0px 20px;
    font-size: 20px;
}

.rectangle {
    width: 1.93656rem;
    height: 1.93656rem;
    transform: rotate(-52.847deg);
    flex-shrink: 0;
    border-radius: 0.5625rem;
    background: #d7d7d7;
    margin-left: 2%;
    margin-right: 2%;
}

.Notification {
    display: flex;
}

.flesh {
    width: 1.125rem;
    height: 1.125rem;
    flex-shrink: 0;
    fill: #fff;
}

#button img {
    margin-left: 15%;
    float: right;
}

#button {
    margin-top: 30%;
    width: 170%;
    margin-left: 25%;
}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    width: 26.04313rem;
    height: 2.61006rem;
    flex-shrink: 0;

    padding: 8px;
    margin-top: 10px;

    border-radius: 0.5rem;
    border: 1px solid #1e1e1e;

    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}


#voirplus {
    margin-left: 30%;
}

.separator {
    width: 22.5625rem;
    height: 0.2rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: rgba(205, 199, 185, 0.52);
}

.separator1 {
    width: 45.5625rem;
    height: 1rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: rgba(205, 199, 185, 0.52);
}

.doc {
    border-radius: 0.625rem;
    border: 1px solid #efebe1;
    background: #fff;
    width: 245px;
    height: 300px;
    padding: 5px;
    margin: 10px;
}

.cercle {
    display: inline-flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 1.375rem;
    background: #fdf5f2;
}

.invoice-date {
    color: #9095a0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 10px;
    margin-left: 60px;
}

.doc img {
    margin: 20px;
    margin-left: 30px;
}

.telecharger {
    cursor: pointer;
    display: flex;
    width: auto;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    margin-top: 14px;
    padding-left: 5px;
    margin-right: 20px;
    background: #f1f8fd;
    color: #379ae6;
}

.pdfContainer {
    margin-left: 50px;
    width: 70%;
    height: 65%;
}

.telecharger svg {
    padding: 2px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.32);

    /* Use your preferred shade of green */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 25.6875rem;
    margin-left: 50px;
    height: 16.4375rem;
    border-radius: 2.125rem;
    background: white;
    padding: 30px;
    margin-top: 30px;
}

.popup-content-validation {
    width: 35.6875rem;
    margin-left: 50px;
    height: 32.4375rem;
    border-radius: 6.125rem;
    background: rgb(255, 254, 254);
    padding: 30px;
    margin-top: 30px;
}

.vertical-line {
    height: 58px;
    /* Adjust the height as needed */
    border-left: 1px solid #000;
    /* Adjust the color as needed */
    margin-right: 10px;
}

.chose-file {
    margin-top: 5px;
    margin-right: 10px;
    color: #000;

    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-file {
    margin-top: 5px;
    flex-shrink: 0;
    margin-left: 10px;
}

.file-input {
    display: none;
}

.custom-file-input {
    display: flex;
    align-items: center;
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;

    width: 26.04313rem;
    height: 3.61006rem;
    flex-shrink: 0;

    margin-top: 10px;
}

.file-label {
    margin-left: 6px;
    font-size: 1rem;

    flex: 1;
    margin-right: 10px;
    color: #6c6868;

    font-size: 0.8rem;
}

.Remplacer {
    display: flex;
    width: 5.375rem;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    margin-top: 14px;
    margin-left: -5px;
    background: rgba(252, 233, 164, 0.35);
    color: #bf6f25;
}

.Remplacer svg {
    padding: 2px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

@media screen and (min-width: 375px) and (max-width: 700px) {

    select,
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"] {
        width: 20.04313rem;

    }

    .custom-file-input {


        width: 20.04313rem;

    }

    #chart {

        width: 350px;
    }

    .popup-content {
        width: 18.6875rem;
        margin-left: 5px;
        height: 16.4375rem;
        border-radius: 2.125rem;
        background: white;

    }

    .chezqui {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chiffre_affaire {
        margin-left: 55px;
    }

    .second-container {
        margin-left: 0px;

    }

    .Grille {
        width: 260%;
        margin-left: 80%;
    }

    .Grille1 {
        width: 240%;
        margin-left: 112%;
    }

    .docs1 {
        display: grid;
        width: auto;
        margin-left: 25px;
    }

    .docs {
        display: grid;
        min-width: 100px;
        margin-left: 25px;
    }

    .Tableau {
        display: grid;
    }

    .TJMcuurent {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chez {
        margin-left: 25px;
        margin-top: 25px;
        color: #cdc7b9
    }

    .tjm_moyen {
        margin-left: 55px;
    }

    .right-item {
        display: none;
    }

    .container {}

    .newmissionbutton {
        justify-content: center;
        align-items: center;
        margin-left: 75px;
    }

    button {
        color: white;
        display: flex;
        width: 400%;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        border-radius: 0.625rem;
        background: black;
        margin-top: 2px;
        margin: 10px;
    }

    .dropdown-content {
        margin-left: -550px;
    }

}