<div class="wrapper">
    <div>
        <app-left-bar></app-left-bar>
    </div>
    <div class="loader" *ngIf="!show"> <img src="/assets/logo2.png" width="120%" /> </div>
    <div class="container" *ngIf="show">
        <div class="title" style="max-width: 35rem;"> DECLARER UNE NOUVELLE ABSENCE
        </div>
        <form action="/submit_form" method="post" [formGroup]="myForm" class="flex-form">
            <div class="form-section">
                <b> Information de la mission : <br></b>

                <div class="grid-container">

                    <div class="grid-item"> <br>
                        Durée : <br>
                        <select formControlName="durée" id="fullName" placeholder="Métier" name="fullName" required>
                            <option value="1jour">
                                1 jour
                            </option>
                            <option value="plusieurs">
                                plusieurs jours
                            </option>
                        </select>

                        <div class="error" *ngIf="
                      myForm.get('durée')?.invalid &&
                      myForm.get('durée')?.touched
                    ">
                            type est obligatoire.
                        </div>
                    </div>
                    <div *ngIf="myForm.get('durée')?.value =='1jour'">
                        <br>
                        Date : <br>
                        <div class="grid-item">
                            <input type="date" formControlName="date">

                        </div>

                    </div>
                    <div *ngIf="myForm.get('durée')?.value =='plusieurs'">
                        <br>
                        Date début : <br>
                        <div class="grid-item">
                            <input type="date" formControlName="date_debut">

                        </div>
                        <br>
                        Date fin : <br>
                        <div class="grid-item">
                            <input type="date" formControlName="date_fin">

                        </div>

                    </div>





                    <br>
                    <div class="custom-file-input" (change)="setFileInput('isSimulationValidated', $event)"
                        onclick="document.getElementById('isSimulationValidated').click()">
                        <label class="file-label" for="Simulation" style="cursor: pointer;"
                            *ngIf="!selectedFile">Joinder Justificatif (facultatif) </label>
                        <label class="file-label" for="Simulation" style="cursor: pointer;"
                            *ngIf="selectedFile">{{selectedFile.name}}</label>

                        <div class="vertical-line"></div>
                        <input class="file-input" type="file" id="isSimulationValidated"
                            formControlName="isSimulationValidated" name="Simulation"
                            (change)="setFileInput('isSimulationValidated', $event)">
                        <div class="upload-icon" onclick="document.getElementById('isSimulationValidated').click()">
                            <div class="chose-file"> choisir un fichier <br>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                    class="icon-file" fill="none">
                                    <g clip-path="url(#clip0_972_185)">
                                        <path
                                            d="M0.5 10.5V11.5C0.5 12.0304 0.710714 12.5391 1.08579 12.9142C1.46086 13.2893 1.96957 13.5 2.5 13.5H11.5C12.0304 13.5 12.5391 13.2893 12.9142 12.9142C13.2893 12.5391 13.5 12.0304 13.5 11.5V10.5"
                                            stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M4 4L7 0.5L10 4" stroke="#1E1E1E" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M7 0.5V9.5" stroke="#1E1E1E" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_972_185">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>

                        </div>
                    </div>
                    <div class="buttons" (click)="logform()">
                        <button type="submit" class="button">
                            <div class="inscrire">Ajouter</div>
                        </button>
                    </div>

                </div>
            </div>


        </form>
    </div>

    <!-- <div class="right-item">

        <app-notification></app-notification>
    </div> -->

</div>