<div class="wrapper">
    <div>
        <app-left-bar></app-left-bar>
    </div>
    <div class="loader" *ngIf="!show"> <img src="/assets/logo2.png" width="120%" /> </div>
    <div class="container" *ngIf="show">
        <div class="title" style="width: 13rem;"> ORIENTATION
        </div>

        <div *ngIf="show_data_orientation">

            <b>Choix par ordre : </b> <br> <br>

            <table>
                <thead>
                    <th style="border-radius: 0.6875rem 0rem 0rem 0rem"> parcours</th>
                    <th style="border-radius: 0rem 0.6875rem 0rem 0rem"> Rang</th>

                </thead>
                <tbody>

                    <tr>
                        <td>
                            {{data_orientation.choix1}}
                        </td>
                        <td> 1</td>
                    </tr>
                    <tr>
                        <td>
                            {{data_orientation.choix2}}
                        </td>
                        <td>
                            2
                        </td>

                    </tr>
                    <tr>
                        <td>
                            {{data_orientation.choix3}}
                        </td>
                        <td>
                            3
                        </td>
                    </tr>
                    <tr *ngIf="data_orientation.choix4">
                        <td>
                            {{data_orientation.choix4}}
                        </td>
                        <td>
                            4
                        </td>
                    </tr>

                </tbody>
            </table>
            <br>
            <div style="display: flex;">
                <b style="margin-top: 5px;"> Etat :</b>
                <div *ngIf="data_orientation.status =='pending'" style="background-color: aqua; padding: 5px;">
                    Entraitement</div>
                <div *ngIf="data_orientation.status !='pending'"
                    style="background-color: aqua; padding: 5px; border-radius: 20%; margin-left: 15px;">
                    Traitée
                </div>
            </div>
            <br>
            <div style="background-color: rgb(112, 147, 205); padding: 10px;border-radius: 5px; color: white;">
                <b> Décision :</b> L’affectation donnée par le département <b>{{data_orientation.resultat}} </b>
            </div>

            <br> <br>
        </div>
        <!-- -->
        <div style="background-color: #ffffcc !important; height: 70px;padding: 7px;" *ngIf="!show_data_orientation">
            Vous devez classer votre choix par ordre de
            priorité. Une fois validé, vous ne pourrez plus modifier votre demande . <br> <br> Veuillez respecter les
            dates renseignées par votre département pour le remplissage de la fiche
        </div>
        <!-- <table *ngIf="show_data_orientation">
            <thead>
                <th style="border-radius: 0.6875rem 0rem 0rem 0rem"> Choix </th>
                <th style="border-radius: 0rem 0.6875rem 0rem 0rem"> parcours</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Choix 1
                    </td>
                    <td>
                        {{data_orientation.choix1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Choix 2
                    </td>
                    <td>
                        {{data_orientation.choix2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Choix 3
                    </td>
                    <td>
                        {{data_orientation.choix3}}
                    </td>
                </tr>
                <tr *ngIf="data_orientation.choix4">
                    <td>
                        Choix 4
                    </td>
                    <td>
                        {{data_orientation.choix4}}
                    </td>
                </tr>
            </tbody>
        </table> -->
        <b></b>
        <form action="/submit_form" method="post" [formGroup]="myForm" style="justify-content: center;"
            *ngIf="!show_data_orientation" class="flex-form">
            <div class="form-section">


                <div class="grid-container">
                    <table>

                        <tbody *ngIf="departement === 'IT'">
                            <tr>
                                <td> <b> choix 1</b> </td>
                                <td>
                                    <select formControlName="choix1" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value=""> selectioner 1ere choix </option>
                                        <option value="DSI">
                                            DSI
                                        </option>
                                        <option value="SEM">
                                            SEM
                                        </option>
                                        <option value="RSI">
                                            RSI
                                        </option>
                                        <option value="MDW">
                                            MDW
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td> <b> choix 2</b> </td>
                                <td> <select formControlName="choix2" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value=""> selectioner 2eme choix </option>
                                        <option value="DSI">
                                            DSI
                                        </option>
                                        <option value="SEM">
                                            SEM
                                        </option>
                                        <option value="RSI">
                                            RSI
                                        </option>
                                        <option value="MDW">
                                            MDW
                                        </option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td> <b> choix 3</b> </td>
                                <td> <select formControlName="choix3" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value=""> selectioner 3eme choix </option>
                                        <option value="DSI">
                                            DSI
                                        </option>
                                        <option value="SEM">
                                            SEM
                                        </option>
                                        <option value="RSI">
                                            RSI
                                        </option>
                                        <option value="MDW">
                                            MDW
                                        </option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td> <b> choix 4</b> </td>
                                <td> <select formControlName="choix4" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value=""> selectioner 3eme choix </option>
                                        <option value="DSI">
                                            DSI
                                        </option>
                                        <option value="SEM">
                                            SEM
                                        </option>
                                        <option value="RSI">
                                            RSI
                                        </option>
                                        <option value="MDW">
                                            MDW
                                        </option>
                                    </select></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="departement === 'GC'">
                            <tr>
                                <td> choix 1</td>
                                <td> <select formControlName="choix1" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="BAT">
                                            BAT
                                        </option>
                                        <option value="TP">
                                            TP
                                        </option>
                                        <option value="TOPO">
                                            TOPO
                                        </option>
                                        <option value="PC">
                                            PC
                                        </option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td> choix 2</td>
                                <td> <select formControlName="choix2" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="BAT">
                                            BAT
                                        </option>
                                        <option value="TP">
                                            TP
                                        </option>
                                        <option value="TOPO">
                                            TOPO
                                        </option>
                                        <option value="PC">
                                            PC
                                        </option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td> choix 3</td>
                                <td> <select formControlName="choix3" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="BAT">
                                            BAT
                                        </option>
                                        <option value="TP">
                                            TP
                                        </option>
                                        <option value="TOPO">
                                            TOPO
                                        </option>
                                        <option value="PC">
                                            PC
                                        </option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td> choix 4</td>
                                <td> <select formControlName="choix4" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="BAT">
                                            BAT
                                        </option>
                                        <option value="TP">
                                            TP
                                        </option>
                                        <option value="TOPO">
                                            TOPO
                                        </option>
                                        <option value="PC">
                                            PC
                                        </option>
                                    </select></td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="departement === 'GE'">
                            <tr>
                                <td> choix 1</td>
                                <td> <select formControlName="choix1" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="All">
                                            All
                                        </option>
                                        <option value="EI">
                                            EI
                                        </option>
                                        <option value="ELnl">
                                            ELnl
                                        </option>

                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td> choix 2</td>
                                <td> <select formControlName="choix2" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="All">
                                            All
                                        </option>
                                        <option value="EI">
                                            EI
                                        </option>
                                        <option value="ELnl">
                                            ELnl
                                        </option>

                                    </select></td>
                            </tr>
                            <tr>
                                <td> choix 3</td>
                                <td> <select formControlName="choix3" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="All">
                                            All
                                        </option>
                                        <option value="EI">
                                            EI
                                        </option>
                                        <option value="ELnl">
                                            ELnl
                                        </option>

                                    </select></td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="departement === 'GM'">
                            <tr>
                                <td> choix 1</td>
                                <td>

                                    <select formControlName="choix1" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="MI">
                                            MI
                                        </option>
                                        <option value="CFM">
                                            CFM
                                        </option>
                                        <option value="Energétique">
                                            Energétique
                                        </option>

                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td> choix 2</td>
                                <td>
                                    <select formControlName="choix2" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="MI">
                                            MI
                                        </option>
                                        <option value="CFM">
                                            CFM
                                        </option>
                                        <option value="Energétique">
                                            Energétique
                                        </option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td> choix 3</td>
                                <td>
                                    <select formControlName="choix3" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="MI">
                                            MI
                                        </option>
                                        <option value="CFM">
                                            CFM
                                        </option>
                                        <option value="Energétique">
                                            Energétique
                                        </option>

                                    </select>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="departement === 'SEG'">
                            <tr>
                                <td> choix 1</td>
                                <td>


                                    <select formControlName="choix1" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="AAPME">
                                            AAPME
                                        </option>
                                        <option value="AACF">
                                            AACF
                                        </option>
                                        <option value="AAGP">
                                            AAGP
                                        </option>
                                        <option value="AAGHT">
                                            AAGHT
                                        </option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>

                                    <select formControlName="choix2" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="AAPME">
                                            AAPME
                                        </option>
                                        <option value="AACF">
                                            AACF
                                        </option>
                                        <option value="AAGP">
                                            AAGP
                                        </option>
                                        <option value="AAGHT">
                                            AAGHT
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>

                                    <select formControlName="choix3" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="AAPME">
                                            AAPME
                                        </option>
                                        <option value="AACF">
                                            AACF
                                        </option>
                                        <option value="AAGP">
                                            AAGP
                                        </option>
                                        <option value="AAGHT">
                                            AAGHT
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>

                                    <select formControlName="choix4" id="fullName" placeholder="Métier" name="fullName"
                                        required>
                                        <option value="AAPME">
                                            AAPME
                                        </option>
                                        <option value="AACF">
                                            AACF
                                        </option>
                                        <option value="AAGP">
                                            AAGP
                                        </option>
                                        <option value="AAGHT">
                                            AAGHT
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>







                    <br>



                    <div class="buttons" (click)="logform()">
                        <button type="submit" class="button">
                            <div class="inscrire">Valider</div>
                        </button>
                    </div>

                </div>
            </div>


        </form>
    </div>

    <div class="right-item">
        <div style="display: flex;margin-bottom: 0px;">

            <div class="profil" style="cursor: pointer;">
                <img src="/assets/avatar-user.png" width="15%" height="10%" />
                <div class="nom-prenom">{{fullname}} <br>

                </div>

            </div>
        </div>
        <!-- <app-notification></app-notification> -->
    </div>

</div>