.container {
    display: flex;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 340fr 0fr;
}

body {
    font-family: "Poppins", sans-serif !important;
    font-size: 14px;
}

.logo {
    width: 8.88481rem;
    height: 1.25rem;
    flex-shrink: 0;
    padding: 50px;
}

input[type="month"] {
    width: 8.04313rem;
    border: 1px solid #eae3d5;
    flex-shrink: 0;
    margin-left: 290px;


    border-radius: 0.5rem;


    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.title {
    margin-top: 7px;

    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0225rem;
    margin-bottom: 15px;
    flex-shrink: 0;
    /* 2.25rem */
}

.first-item {
    color: white;

    background: #1e1e1e;
    align-items: center;
    justify-content: center;
}

.Tableau {
    display: flex;
}

.board-item {
    width: 12.875rem;
    height: 3rem;

    border-radius: 0.4375rem;
    background: rgba(242, 239, 224, 0.1);
    margin-left: 20px;
    display: flex;
}

.custom-item {
    width: 12.875rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    margin-left: 20px;
    display: flex;
}

svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 10px;
}

.bord-text {
    color: #fefcf1;

    font-style: normal;

    /* 1.125rem */
    margin-left: 10px;
    margin-top: 11px;
    /* 1.125rem */
}

.faq-sedeconnecter {
    margin-top: 250px;
}

.second-container {
    margin-left: 235px;

    flex-wrap: 1;
    flex-grow: 1;
    flex-shrink: 0;
}

.button {
    float: right;
}

.nonvalidée {
    display: flex;
    width: 4.9375rem;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;

    margin: 5px;
    background: #f3c0c0;
    background: rgb(0, 17, 255);
    color: #FFF;
    margin: 5px;
    font-size: 14px;
}

.new {
    display: flex;
    width: 4.9375rem;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #fce9a4;
    color: #bf6f25;
    margin: 5px;
}

.waiting {
    display: flex;
    width: 4.9375rem;
    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #9bc4f9;
    color: #241df5;
    margin: 5px;
    font-size: 14px;
}

button {
    color: white;
    display: flex;
    width: 7.5rem;
    margin-left: 25px;

    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: rgb(0, 17, 255);
    color: #FFF;
}

.Search-text {
    width: 75%;
    color: #bebcbc;
    padding-top: 11px;
}

input[type="search"] {
    border: none;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    border: none none;
    outline: none;
}

input[type="search"]:focus {
    border: none none;
    color: none;
}

.search-bar {
    width: 52.575rem;
    height: 4%;
    flex-shrink: 1;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
}

@media (max-width: 768px) {
    .container {
        display: row;
        width: 10%;
    }
}

.search-bar svg {
    margin-top: 0px;
    margin-left: 25px;
}

.demande {
    margin-top: 0px;
    width: 25.9375rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    background: #fef9f1;
    margin: 10px 0px 10px 0px;
    display: flex;
}

.demande1 {
    margin-top: 0px;
    width: 25.9375rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    background: #fef9f1;
    margin: 10px 0px 10px 12px;
    display: flex;
}

.demande-ng-consultants {
    display: flex;
}

.demande svg {
    width: 32px;
    height: 31px;
    margin-top: 15px;
}

.demande1 svg {
    width: 32px;
    height: 31px;
    margin-top: 15px;
}

.nb-demande {
    margin-top: 22px;
}

.preinscriptions {
    width: 52.6rem;
    min-height: 211px;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    border: 1px solid #EAE3D5;
    background: #f9fafc;
}

.item-preinscription {
    width: 52.51rem;
    height: 4.5625rem;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
}

.checked-box {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    border: 1px solid #d9d9d9;
    background: #fff;
}

input[type="checkbox"] {
    margin-top: 20px;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    border: 1px solid #d9d9d9;
    background: #fff;
}

.nom {
    margin-left: 70px;
}

.header-container {
    display: flex;
    margin-bottom: 30px;
    padding-top: 10px;
}

.member {
    margin-left: 400px;
    margin-right: 25px;
}

.image {
    display: row;
    margin-top: 3px;
    margin-left: 8px;
}

.member-date {
    margin-left: 55px;
    margin-top: 19.5px;
    color: rgba(29, 29, 29, 0.5);
}

.demande-date {
    margin-left: 50px;
    margin-top: 19.5px;
    color: rgba(29, 29, 29, 0.5);
}

.second-item {}

.profil {
    margin-left: 10px;
    height: 3.125rem;
    width: 12rem;
    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    color: white;
    background: #829ed5;
    display: flex;
    float: right;
}

.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
    background: #829ed5;
}

.historique {
    width: 21.3125rem;

    flex-shrink: 0;
    border-radius: 0.4375rem;
    border: 1px solid #EAE3D5;
    margin-top: 15px;
    float: right;
    min-height: 293px;
    flex-shrink: 0;
    padding-bottom: 10px;
}



.svg {
    margin-top: 8px;
    width: 0.625rem;
    height: 0.625rem;
    flex-shrink: 0;
}

table {
    text-align: center;
    width: 125%;
}

.nom-prenom {
    margin-top: 15px;
    margin-left: 8px;
    color: white;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
}



.historique .text {
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin: 10px;

    /* 1.125rem */
}

.plus {
    color: #ffd200;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 11.8px 0 0 75px;
    /* 0.875rem */
}

.circle {
    width: 0.3875rem;
    height: 0.3875rem;
    flex-shrink: 0;
    fill: #2bedb3;
}

.historique-name {
    margin: 10px 30px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 4.84563rem;
    line-height: normal;
}

.historiqueconsultantdetails {
    margin: 0px 50px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 3.13544rem;
}

.historique-consultant {
    margin: 4px 10px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 00;
    width: 9.84563rem;
    line-height: normal;
}

.historique-time {
    margin: 10px 150px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 3.13544rem;
}

.approved {
    color: rgba(0, 0, 0, 0.75);

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 35px;
}

.name-of-approved {
    color: rgba(0, 0, 0, 0.35);

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10.26138rem;
    margin-left: 4px;
}

.historique-demandes {
    display: flex;
}

.historique-consultants {
    display: flex;
}

.historique-consultants .plus {
    color: #ffd200;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 11.8px 0 0 145px;
}

/* my-component.component.css */
.hidden-div {
    display: none;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the button */
button {
    margin-top: 1px;
    padding: 8px;
    cursor: pointer;
}

/* my-component.component.css */
.dropdown-menu {
    display: block;
    position: absolute;

    /* Adjust the margin as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-left: -100px;
}

span {
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.32);

    /* Use your preferred shade of green */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 25.6875rem;
    margin-left: 50px;
    height: 17.4375rem;
    border-radius: 2.125rem;
    background: white;
    padding: 30px;
    margin-top: 30px;
}

.popup-content-validation {
    width: 35.6875rem;
    margin-left: 50px;
    height: 32.4375rem;
    border-radius: 6.125rem;
    background: rgb(255, 254, 254);
    padding: 30px;
    margin-top: 30px;
}

.etape-validation {
    width: 29.1875rem;
    height: 3.33556rem;
    flex-shrink: 0;
    margin-left: 35px;
    border-radius: 0.5rem;
    border: 1px solid #fff1f1;
    background: rgba(255, 255, 255, 0.11);
    display: flex;
    margin-bottom: 20px;
}

.text-validation {
    width: 30.9375rem;
    height: 2.20944rem;
    color: white;
    margin: 15px 0px 0px 50px;
}

.vertical-line {
    height: 54px;
    /* Adjust the height as needed */
    border-left: 2px solid #ffffff;
    /* Adjust the color as needed */
    margin-right: 0px;
}

.close-button {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.close-button1 {
    float: center;
    margin-left: 200px;
}

/* Style for the toggle switch */
.toggle-switch {
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
}

/* Style for the checkbox input */
.toggle-switch input {
    display: none;
}

/* Style for the slider (background of the switch) */
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Style for the slider when the toggle is on */
.toggle-switch input:checked+.slider {
    background-color: rgb(85, 205, 85);
}

/* Style for the round knob (indicator) inside the slider */
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    right: 10px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Style for the round knob when the toggle is on */
.toggle-switch input:checked+.slider:before {
    transform: translateX(26px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.charge {
    margin-bottom: 50px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: -150px;
    border-radius: 0.25rem;
    border: 1px solid #eae3d5;
    border-radius: 0.5rem;
    background: #ffffff;
    display: inline-flex;
    padding: 0.4375rem 0.6875rem 0.4375rem 0.75rem;
    justify-content: center;
    align-items: center;
}

.form-section {}

.custom-file-input {
    display: flex;
    align-items: center;
    border: 1px solid #eae3d5;
    border-radius: 0.5rem;

    width: 26.04313rem;
    height: 3.61006rem;
    flex-shrink: 0;

    margin-top: 10px;
}

.file-label {
    margin-left: 6px;
    font-size: 1rem;

    flex: 1;
    margin-right: 10px;
    color: #6c6868;

    font-size: 0.8rem;
}

.vertical-line {
    height: 58px;
    /* Adjust the height as needed */
    border-left: 1px solid #eae3d5;
    /* Adjust the color as needed */
    margin-right: 10px;
}

.pagination {
    margin-top: 20px;
    /* Adjust the spacing between the table and pagination */
    display: flex;
    float: right;
    text-align: right;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-content {
    margin-left: -100px;
    width: auto;
}

input[type="search"] {
    border: none;
    margin: 5px;
    margin-top: 8px;
    width: 600px;
    height: 40%;
    border: none none;
    outline: none;
}

input[type="search"]:focus {
    border: none none;
    color: none;
}

.pagination button:hover {
    background-color: #0056b3;
}

.first {
    display: flex;
    width: 400px;
    cursor: pointer;
    justify-content: left;
    align-items: left;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;
    margin: 3.25px;
    padding: 7.25px 8px 3.25px 8px;


}

.pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.chose-file {
    margin-top: 5px;
    margin-right: 10px;
    color: #000;

    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-file {
    margin-top: 5px;
    flex-shrink: 0;
    margin-left: 10px;
}

.file-input {
    display: none;
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    width: 13.04313rem;
    height: 2.61006rem;
    flex-shrink: 0;

    padding: 8px;
    margin-top: 10px;

    border-radius: 0.5rem;
    border: 1px solid #eae3d5;

    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

select {

    flex-shrink: 0;

    border-radius: 0.5rem;



    box-sizing: border-box;
}

.rib {
    margin: 10px;
    color: #6e7787;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    /* 157.143% */
}

.rib-info {
    display: flex;
    margin-top: 7px;

    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.25rem;

    margin-left: 84px;
}

.Tableau1 {

    display: flex;
}

.table-wrapper {
    overflow-x: initial;
}

.first-right-item {
    margin-right: -210px;
}

@media screen and (min-width: 375px) and (max-width: 700px) {
    .newflex {
        display: grid;
    }

    .first-right-item {
        margin-left: 0px;
        margin-right: 0px;
    }

    .left-first {
        margin-left: 30px;
        justify-content: left;
    }

    .first {
        display: flex;

        width: 300px;
        cursor: pointer;
        justify-content: left;
        align-items: left;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px;
        padding: 7.25px 8px 3.25px 8px;


    }

    input[type="month"] {
        float: left;
        width: 15.04313rem;
        height: 3rem;
        margin-left: 0px;


    }

    .tjmselected {

        display: flex;
        width: auto;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;

        background: #eae3d5;
        margin: 3.25px;
        padding-left: 3px;
        width: 288.5px;
        margin-bottom: 8px;
    }

    .export {
        margin-left: 1.5%;
    }

    /* my-component.component.css */
    .dropdown-menu {
        width: 20rem;
    }

    .first1 {
        display: flex;
        width: auto;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px;
        padding: 3.25px 8px 3.25px 8px;
    }



    .exportlist {
        width: 8rem;
        justify-content: none;
        align-items: none;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px 3.25px 3.25px -175px;
        padding: 8px 8px 8px 8px;
    }

    .rechercher {
        width: 17rem;
    }



    .Tableau1 {
        margin-top: 20px;
        display: grid;
    }



    #chart {
        margin-left: 0px;
        width: 350px;
    }

    .popup-content {
        width: 18.6875rem;
        margin-left: 5px;
        height: 16.4375rem;
        border-radius: 2.125rem;
        background: white;

    }

    .pagination {
        margin-top: 20px;
        /* Adjust the spacing between the table and pagination */
        display: flex;
        float: left;
        text-align: right;
    }

    .chezqui {
        margin-top: 5px;
        margin-left: 15px;
    }



    .tjm_moyen {
        margin-left: 5px;
        width: 15.25rem;
    }

    .TJMcuurent {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chez {
        margin-left: 25px;
        margin-top: 25px;
        color: #cdc7b9
    }


    .wrapper {
        display: initial;
        grid-template-columns: initial;
    }

    select,
    input[type="text"],
    input[type="date"],
    input[type="email"],

    input[type="password"],
    input[type="number"] {
        width: 6.04313rem;

    }

    .right-item {
        display: none;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    .charge {
        cursor: pointer;
        float: left;
        margin-top: 10px;
        margin-right: 0px;
        border-radius: 0.25rem;
        border: 1px solid #eae3d5;
        border-radius: 0.5rem;
        background: #ffffff;
        display: inline-flex;
        padding: 0.4375rem 0.6875rem 0.4375rem 0.75rem;
        justify-content: center;
        align-items: center;
    }

    .second-container {
        margin-left: 5px;
    }

    .newmissionbutton {
        justify-content: center;
        align-items: center;
        margin-left: 75px;
    }

    .button {
        float: none;
    }

    .dropdown-content {
        margin-left: -280px;
    }

}