<div class="right-item">
  <div class="historique">
    <div class="historique-demandes">
      <div class="text"><b>Dernières
          nouvelles</b></div>

    </div>
    <div *ngFor="let item of items">
      <div style="display: flex; margin-bottom: 10px ; margin-left: 10px;">
        <img src="/assets/bou9.png" width="10%" height="10%" style="margin-top: 5px;">
        <div class="historique-consultant">
          <b> {{ item.titre }} </b>
          <div> {{ item.contenu }} </div>




        </div>

      </div>
    </div>
    <br />
  </div>