.flex-container {
  display: flex;
}

.right-item {
  float: right;
  display: row;
}

.svg {
  margin-top: 8px;
  width: 0.625rem;
  height: 0.625rem;
  flex-shrink: 0;
}

.pagination {
  margin-top: 20px;
  /* Adjust the spacing between the table and pagination */
  display: flex;
  float: right;
  text-align: right;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 2px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* my-component.component.css */
.dropdown-menu {
  display: block;
  position: absolute;

  /* Adjust the margin as needed */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 45px;
  margin-left: -250px;
}



.nom-prenom {
  margin-top: 15px;
  margin-left: 8px;
  color: #000;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 1rem */
}

.image {
  display: row;
  margin-top: 2px;
  margin-left: 8px;
}

.second-container {
  margin-left: 240px;


}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 250fr 0.5fr;
  font-family: "Poppins", sans-serif !important;
}

.profil {
  width: 12rem;
  height: 3.125rem;

  border-radius: 15px;
  border: 1px solid rgb(247, 227, 227);
  background: #fef9f1;
  display: flex;
  float: right;
}

.profil img {
  border-radius: 100%;
  width: 2.125rem;
  height: 1.875rem;
  margin-left: 15px;
  margin-top: 8px;
}

.svg {
  margin-top: 8px;
  width: 0.625rem;
  height: 0.625rem;
  flex-shrink: 0;
}

svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  padding: 10px;
  padding-top: 10px;
}

.member {
  margin-top: 8px;
  height: 1.6875rem;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0225rem;
}

.button1 {
  color: black;
  display: flex;
  border: 2px solid #eae3d5;
  width: auto;
  margin-left: 405px;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.625rem;
  background: #ffffff;

}

.title {

  margin-top: 7px;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.0225rem;
  margin-bottom: 20px;
  flex-shrink: 0;
  /* 2.25rem */
}

.Tableau {
  display: flex;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.32);

  /* Use your preferred shade of green */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-input {
  display: flex;
  align-items: center;
  border: 1px solid #1e1e1e;
  border-radius: 0.5rem;

  width: 26.04313rem;
  height: 3.61006rem;
  flex-shrink: 0;

  margin-top: 10px;
}

.chose-file {
  margin-top: 5px;
  margin-right: 10px;
  color: #000;

  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon-file {
  margin-top: 5px;
  flex-shrink: 0;
  margin-left: 30px;
}

.vertical-line {
  height: 58px;
  /* Adjust the height as needed */
  border-left: 1px solid #000;
  /* Adjust the color as needed */
  margin-right: 10px;
}

.file-label {
  margin-left: 6px;
  font-size: 1rem;

  flex: 1;
  margin-right: 10px;
  color: #9c9a9a;

  font-size: 0.8rem;
}

.file-input {
  display: none;
}

input[type="file"] {
  cursor: pointer;
}

.custom-file-input {
  cursor: pointer;
}

.popup-content {
  width: 25.6875rem;
  margin-left: 50px;
  height: 34.4375rem;
  border-radius: 2.125rem;
  background: white;
  padding: 30px;

}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="password"],
input[type="tel"] {
  width: 26.04313rem;
  height: 2.31006rem;
  flex-shrink: 0;

  padding: 8px;
  margin-top: 10px;

  border-radius: 0.5rem;
  border: 1px solid #1e1e1e;

  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
}

.Search-text {
  width: 75%;
  color: #bebcbc;
  padding-top: 11px;
}

input[type="search"] {
  border: none;
  width: 100%;
  height: 80%;
  border: none none;
  outline: none;
}

input[type="search"]:focus {
  border: none none;
  color: none;
}

/* Style the button */
button {
  margin-top: 1px;
  padding: 8px;
  cursor: pointer;
}

.search-bar {
  width: 52.575rem;
  height: 2.575rem;
  flex-shrink: 1;
  border-radius: 0.4375rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
}

button {
  color: white;
  display: flex;
  width: 7.5rem;
  margin-left: 25px;

  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.625rem;
  background: #1e1e1e;
}

.first-flex {
  display: flex;
}

.rechercher {
  width: 10rem;
}

.first {
  display: flex;
  width: 20rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  border: 2px solid #eae3d5;
  background: #fff;
  margin: 3.25px;
  padding: 3.25px 8px 3.25px 8px;


}

.write {
  width: 350px;
}

.table-wrapper {
  overflow-x: auto;
}

@media (min-width: 1150px) {}


@media screen and (min-width: 375px) and (max-width: 700px) {
  .first-flex {
    display: grid;
  }

  .wrapper {
    display: initial;
    grid-template-columns: initial;
  }

  .write {
    width: 350px;
  }

  hr {
    width: 150px;
  }

  .button1 {
    color: black;
    display: flex;
    border: 2px solid #eae3d5;
    width: auto;
    margin-left: 205px;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: #ffffff;

  }

  select,
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="number"] {
    width: 20.04313rem;

  }

  .custom-file-input {


    width: 20.04313rem;

  }

  #chart {

    width: 350px;
  }

  .popup-content {
    width: 18.6875rem;
    margin-left: 5px;
    height: 16.4375rem;
    border-radius: 2.125rem;
    background: white;

  }

  .chezqui {
    margin-top: 5px;
    margin-left: 15px;
  }

  .chiffre_affaire {
    margin-left: 55px;
  }

  .TJMcuurent {
    margin-top: 5px;
    margin-left: 15px;
  }

  .chez {
    margin-left: 25px;
    margin-top: 25px;
    color: #cdc7b9
  }

  .tjm_moyen {
    margin-left: 55px;
  }

  .right-item {
    display: none;
  }

  .second-container {
    margin-left: 0px;
  }

  .newmissionbutton {
    justify-content: center;
    align-items: center;
    margin-left: 75px;
  }

  .button {
    float: none;
  }

  .dropdown-content {
    margin-left: -550px;
  }

}