.flex-container {
    display: flex;
}

.right-item {
    float: right;
    display: row;
}

.svg {
    margin-top: 8px;
    width: 0.625rem;
    height: 0.625rem;
    flex-shrink: 0;
}

.pagination {
    margin-top: 20px;
    /* Adjust the spacing between the table and pagination */
    display: flex;
    float: right;
    text-align: right;
}

.first-item {

    color: white;
    position: fixed;
    background: #1e1e1e;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    height: 110%;
    margin-top: -8px;
    padding: 0px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* my-component.component.css */
.dropdown-menu {
    display: block;
    position: absolute;

    /* Adjust the margin as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 45px;
    margin-left: -250px;
}

.nom-prenom {
    margin-top: 15px;
    margin-left: 8px;
    color: #000;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
}

.image {
    display: row;
    margin-top: 2px;
    margin-left: 8px;
}

.second-container {
    margin-left: 240px;

    flex-shrink: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 250fr 0.5fr;
    font-family: "Poppins", sans-serif !important;
}

.profil {
    width: 12rem;
    height: 3.125rem;

    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    background: #fef9f1;
    display: flex;
    float: right;
}

.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
}

.svg {
    margin-top: 8px;
    width: 0.625rem;
    height: 0.625rem;
    flex-shrink: 0;
}

svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 10px;
}

.member {
    margin-top: 8px;
    height: 1.6875rem;
    flex-shrink: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

.button1 {
    color: black;
    display: flex;
    width: auto;
    margin-left: 405px;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: #ffffff;
    margin-top: 10px;
}

.Tableau {
    display: flex;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.32);

    /* Use your preferred shade of green */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 25.6875rem;
    margin-left: 50px;
    height: 28.4375rem;
    border-radius: 2.125rem;
    background: white;
    padding: 30px;
    margin-top: 15px;
}


.first {
    display: flex;

    width: 600px;
    cursor: pointer;
    justify-content: left;
    align-items: left;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;
    margin: 3.25px;
    padding: 7.25px 8px 3.25px 8px;


}

select,
input[type="text"],
input[type="date"],
input[type="email"],

input[type="password"],
input[type="number"] {
    width: 26.04313rem;
    height: 3.61006rem;
    flex-shrink: 0;

    padding: 8px;
    margin-top: 10px;

    border-radius: 0.5rem;
    border: 1px solid #1e1e1e;

    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.profil1 svg {
    width: 32px;
    height: 31px;
}

.profil {
    margin-left: 10px;
    height: 3.125rem;
    width: 10rem;
    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    background: #fef9f1;
    display: flex;
    float: right;
}

.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
}

.profil1 {
    width: 13rem;
    height: 3.125rem;
    margin-left: -20px;

    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    background: #fef9f1;
    display: flex;
    float: right;
}


.pending1 {
    width: 100%;
}

.profil1 img {
    border-radius: 100%;
    width: 2.625rem;
    height: 2.175rem;
    margin-left: 15px;
    margin-top: 8px;
}

input[type="month"] {
    margin-left: 350px;
    width: 15.04313rem;
    height: 3.61006rem;
    flex-shrink: 0;
    margin-top: 2px;
    font-family: "Poppins", sans-serif !important;

    margin-right: -1500px;
    border-radius: 0.5rem;
    border: 1px solid #1e1e1e;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;


    width: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;

    padding: 4.25px 9px 4.25px 9px;
}

.title {
    margin-top: 7px;

    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

input[type="search"] {
    border: none;

    width: 100%;
    height: 100%;
    border: none none;
    outline: none;
}

input[type="search"]:focus {
    border: none none;
    color: none;
}

.Search-text {
    width: 75%;
    color: #bebcbc;
    padding-top: 11px;
}


/* Style the button */
button {
    margin-top: 1px;
    padding: 8px;
    cursor: pointer;
}

.search-bar {
    width: 52.575rem;
    height: 2.575rem;
    flex-shrink: 1;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
}

button {
    color: white;
    display: flex;
    width: 7.5rem;
    margin-left: 25px;

    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: #1e1e1e;
}

.newflex {
    display: flex;
}

.Tableau1 {
    margin-top: 50px;
    display: flex;

}

@media screen and (min-width: 375px) and (max-width: 700px) {
    .newflex {
        display: grid;
    }

    .left-first {
        margin-left: 30px;
        justify-content: left;
    }

    .first {
        display: flex;

        width: 300px;
        cursor: pointer;
        justify-content: left;
        align-items: left;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px;
        padding: 7.25px 8px 3.25px 8px;


    }

    input[type="month"] {
        float: left;
        width: 15.04313rem;
        margin-left: 0px;

    }

    .export {
        margin-left: 1.5%;
    }

    /* my-component.component.css */
    .dropdown-menu {
        width: 20rem;
    }

    .first1 {
        display: flex;
        width: auto;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px;
        padding: 3.25px 8px 3.25px 8px;
    }



    .exportlist {
        width: 8rem;
        justify-content: none;
        align-items: none;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px 3.25px 3.25px -175px;
        padding: 8px 8px 8px 8px;
    }

    .rechercher {
        width: 17rem;
    }



    .Tableau1 {
        margin-top: 20px;
        display: grid;
    }



    #chart {
        margin-left: 0px;
        width: 350px;
    }

    .popup-content {
        width: 18.6875rem;
        margin-left: 5px;
        height: 16.4375rem;
        border-radius: 2.125rem;
        background: white;

    }

    .chezqui {
        margin-top: 5px;
        margin-left: 15px;
    }



    .tjm_moyen {
        margin-left: 5px;
        width: 15.25rem;
    }

    .TJMcuurent {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chez {
        margin-left: 25px;
        margin-top: 25px;
        color: #cdc7b9
    }


    .wrapper {
        display: initial;
        grid-template-columns: initial;
    }

    select,
    input[type="text"],
    input[type="date"],
    input[type="email"],

    input[type="password"],
    input[type="number"] {
        width: 6.04313rem;

    }

    .right-item {
        display: none;
    }

    .second-container {
        margin-left: 5px;
    }

    .newmissionbutton {
        justify-content: center;
        align-items: center;
        margin-left: 75px;
    }

    .button {
        float: none;
    }

    .dropdown-content {
        margin-left: -380px;
    }

}