body {
  font-family: "Poppins", sans-serif !important;

  margin: 0;
  padding: 0;

  box-shadow: #171a1f;
  border-radius: 0.875rem;
  height: auto;
  padding-bottom: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 250fr 0.5fr;
  font-family: "Poppins", sans-serif !important;
}

.right-item {
  float: right;
  display: row;
}

.svg {
  margin-top: 8px;
  width: 0.625rem;
  height: 0.625rem;
  flex-shrink: 0;
}

.profil {
  margin-left: 10px;
  height: 3.125rem;
  width: 12rem;
  border-radius: 15px;
  border: 1px solid rgb(247, 227, 227);
  color: white;
  background: #829ed5;
  display: flex;
  float: right;
}

.profil img {
  border-radius: 100%;
  width: 2.125rem;
  height: 1.875rem;
  margin-left: 15px;
  margin-top: 8px;
  background: #829ed5;
}

.nom-prenom {
  margin-top: 15px;
  margin-left: 8px;
  color: white;
  width: 100%;
  margin-right: 10px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 1rem */
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.pagination {
  margin-top: 20px;
  /* Adjust the spacing between the table and pagination */
  display: flex;
  float: right;
  text-align: right;
  margin-bottom: 15px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 2px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.title {
  margin-top: 7px;

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.0225rem;
  margin-bottom: 20px;
  flex-shrink: 0;
  /* 2.25rem */
}

.pagination button:hover {
  background-color: #0056b3;
}

td {
  padding: 15px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.icon-container {
  margin-right: 10px;
}

.seen-background {
  background-color: #e8e4e4;
  /* Change this to the color you prefer */
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 255px 0px 0px 575px;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #202121;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}


.type {
  display: flex;
  margin-top: 7px;
  width: 25.625rem;

  height: 3.5rem;
  padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.25rem;
  margin: 10px;
  background: #f3f4f6;
  margin-left: 20px;
}

.message-text {
  margin-right: 150px;
  width: 140px;
}

.icon-container svg {
  fill: none;
  stroke: #171a1f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.message-container {
  display: flex;
  background: #fff;
  padding: 5px;
  margin: 5px;
}

.avatar-container {
  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
  border-radius: 1.125rem;
  background: #136f63;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-left: 8px;
}

.avatar-text {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.content-container {
  margin-left: 10px;
  padding-right: 10px;
  width: 72%;
}

.time-container {
  color: #9095a0;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon-container1 svg {
  margin-left: 19px;
  fill: none;
  stroke: #171a1f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.time-icon {
  width: 1rem;
  height: 1rem;
  margin-top: 3px;
  flex-shrink: 0;
}

p {
  margin: 0px;
}

.second-container {
  margin-left: 300px;
  box-shadow: inset;
  flex-shrink: 0;
}

.avatar-container1 {
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 50%;
}

.avatar-img1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 4px;
}

.content-container1 {
  margin-left: 10px;
  width: 82%;
  margin-top: 4px;
}



.details {
  color: #323842;
  width: 100%;
  font-weight: bold;
}

.whatsapp {
  margin-left: 30px;
}

.second-container {
  margin-left: 250px;
}

@media screen and (min-width: 375px) and (max-width: 700px) {

  select,
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="number"] {
    width: 20.04313rem;

  }

  .custom-file-input {


    width: 20.04313rem;

  }

  #chart {

    width: 350px;
  }

  .popup-content {
    width: 18.6875rem;
    margin-left: 5px;
    height: 16.4375rem;
    border-radius: 2.125rem;
    background: white;

  }

  .chezqui {
    margin-top: 5px;
    margin-left: 15px;
  }

  .chiffre_affaire {
    margin-left: 55px;
  }

  .TJMcuurent {
    margin-top: 5px;
    margin-left: 15px;
  }

  .chez {
    margin-left: 25px;
    margin-top: 25px;
    color: #cdc7b9
  }

  .tjm_moyen {
    margin-left: 55px;
  }


  .right-item {
    display: none;
  }

  .second-container {
    margin-left: 0px;
  }

  .newmissionbutton {
    justify-content: center;
    align-items: center;
    margin-left: 75px;
  }

  .button {
    float: none;
  }

  .dropdown-content {
    margin-left: -550px;
  }

}