.wrapper {
    font-family: 'Poppins', sans-serif !important;
    display: grid;
    grid-template-columns: 0.5fr 250fr 0.5fr;
}

.title {
    margin-top: 7px;

    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0225rem;
    margin-bottom: 20px;
    flex-shrink: 0;
    /* 2.25rem */
}



.pagination {
    margin-top: 20px;
    /* Adjust the spacing between the table and pagination */
    display: flex;
    float: right;
    text-align: right;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.profil {
    margin-left: 10px;
    height: 3.125rem;
    width: 12rem;
    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    color: white;
    background: #829ed5;
    display: flex;
    float: right;
}

.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
    background: #829ed5;
}

.profil1 svg {
    width: 32px;
    height: 31px;
}

.profil {
    margin-left: 10px;
    height: 3.125rem;
    width: 12rem;
    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    color: white;
    background: #829ed5;
    display: flex;
    float: right;
}

.profil img {
    border-radius: 100%;
    width: 2.125rem;
    height: 1.875rem;
    margin-left: 15px;
    margin-top: 8px;
    background: #829ed5;
}

.pending1 {
    width: 100%;
}

.first {
    display: flex;
    width: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 2px solid #eae3d5;
    background: #fff;
    margin: 3.25px;
    padding-left: 3px;
    width: 578.5px;
    margin-bottom: 8px;

}

.second {
    padding: 10px;
    margin-left: 37px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 170px;
    background: #eae3d5;
}

.missionselectd {
    padding: 10px;
    margin-left: 27px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: #fff;
}

.tjmselected {

    display: flex;
    width: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 2px solid #eae3d5;

    background: #eae3d5;
    margin: 3.25px;
    padding-left: 3px;
    width: 625.5px;
    margin-bottom: 8px;
}

.new {
    display: flex;
    width: 8.9375rem;
    height: 1.5rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #fce9a4;
    color: #bf6f25;
    margin: 5px;
}


.waiting {
    display: flex;
    width: 8.9375rem;
    height: 2rem;
    padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background: #9bc4f9;
    color: #241df5;
    margin: 5px;
    font-size: 14px;
}

svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 10px;
}

.profil1 img {
    border-radius: 100%;
    width: 2.625rem;
    height: 2.175rem;
    margin-left: 15px;
    margin-top: 8px;
}

.nom-prenom {
    margin-top: 15px;
    margin-left: 8px;
    color: white;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
}

.profil1 {
    width: 13rem;
    height: 3.125rem;
    margin-left: -20px;

    border-radius: 15px;
    border: 1px solid rgb(247, 227, 227);
    background: #fef9f1;
    display: flex;
    float: right;
}





.second-container {
    margin-left: 240px;

    flex-shrink: 0;
}

.form-section {
    margin-left: 25%;
}

.custom-file-input {
    display: flex;
    align-items: center;
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;

    width: 26.04313rem;
    height: 3.61006rem;
    flex-shrink: 0;

    margin-top: 10px;
}

.file-label {
    margin-left: 6px;
    font-size: 1rem;

    flex: 1;
    margin-right: 10px;
    color: #6c6868;

    font-size: 0.8rem;
}

.vertical-line {
    height: 58px;
    /* Adjust the height as needed */
    border-left: 1px solid #000;
    /* Adjust the color as needed */
    margin-right: 10px;
}

.chose-file {
    margin-top: 5px;
    margin-right: 10px;
    color: #000;

    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-file {
    margin-top: 5px;
    flex-shrink: 0;
    margin-left: 10px;
}

.file-input {
    display: none;
}

button {
    color: white;
    display: flex;
    width: 7.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: #1e1e1e;
    margin-top: 2px;
    margin: 10px;
}

.table-container {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #f7f5ef;
    overflow: hidden;
}

td {
    padding: 7px 7px;
}

.transaction-header {
    background: #f7f5ef;
    padding: 10px;
    font-size: 18px;
    color: #5b5b5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-header>select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* my-component.component.css */
.dropdown-menu {
    display: block;
    position: absolute;
    margin-top: 1px;
    /* Adjust the margin as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 10px 10px 10px;
    margin-left: -120px;
}

.newflex {
    display: flex;
}

.Tableau1 {
    margin-top: 50px;
    display: flex;

}

@media screen and (min-width: 375px) and (max-width: 700px) {
    .newflex {
        display: grid;
    }

    .left-first {
        margin-left: 30px;
        justify-content: left;
    }

    .first {
        display: flex;

        width: 300px;
        cursor: pointer;
        justify-content: left;
        align-items: left;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px;
        padding: 7.25px 8px 3.25px 8px;


    }

    input[type="month"] {
        float: left;
        width: 15.04313rem;
        margin-left: 0px;

    }

    .tjmselected {

        display: flex;
        width: auto;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;

        background: #eae3d5;
        margin: 3.25px;
        padding-left: 3px;
        width: 288.5px;
        margin-bottom: 8px;
    }

    .export {
        margin-left: 1.5%;
    }

    /* my-component.component.css */
    .dropdown-menu {
        width: 20rem;
    }

    .first1 {
        display: flex;
        width: auto;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px;
        padding: 3.25px 8px 3.25px 8px;
    }



    .exportlist {
        width: 8rem;
        justify-content: none;
        align-items: none;
        border-radius: 0.625rem;
        border: 2px solid #eae3d5;
        background: #fff;
        margin: 3.25px 3.25px 3.25px -175px;
        padding: 8px 8px 8px 8px;
    }

    .rechercher {
        width: 17rem;
    }



    .Tableau1 {
        margin-top: 20px;
        display: grid;
    }



    #chart {
        margin-left: 0px;
        width: 350px;
    }

    .popup-content {
        width: 18.6875rem;
        margin-left: 5px;
        height: 16.4375rem;
        border-radius: 2.125rem;
        background: white;

    }

    .chezqui {
        margin-top: 5px;
        margin-left: 15px;
    }



    .tjm_moyen {
        margin-left: 5px;
        width: 15.25rem;
    }

    .TJMcuurent {
        margin-top: 5px;
        margin-left: 15px;
    }

    .chez {
        margin-left: 25px;
        margin-top: 25px;
        color: #cdc7b9
    }


    .wrapper {
        display: initial;
        grid-template-columns: initial;
    }



    .right-item {
        display: none;
    }

    .second-container {
        margin-left: 5px;
    }

    .newmissionbutton {
        justify-content: center;
        align-items: center;
        margin-left: 75px;
    }

    .button {
        float: none;
    }

    .dropdown-content {
        margin-left: -380px;
    }

}

.popup-content {
    width: 25.6875rem;
    margin-left: 50px;
    height: 34.4375rem;
    border-radius: 2.125rem;
    background: white;
    padding: 30px;

}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="password"],
input[type="tel"] {
    width: 26.04313rem;
    height: 2.31006rem;
    flex-shrink: 0;

    padding: 8px;
    margin-top: 10px;

    border-radius: 0.5rem;
    border: 1px solid #1e1e1e;

    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.32);

    /* Use your preferred shade of green */
    display: flex;
    justify-content: center;
    align-items: center;
}