<body>
  <div class="container">
    <app-left-bar> </app-left-bar>
    <div class="second-container">
      <div class="title"> Validation du Processus </div>


      <div class="Tableau1">
        <!-- <div style="
            width: 22.02281rem;
            height: auto;
            flex-shrink: 0;
            background: #fefcf1;
          ">
          <div style="display: flex">
            <div style="
                color: #171a1f;
                margin: 15px;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 300;
                line-height: 1.875rem; /* 150% */
                margin-right: 50px;
              ">
              Statistiques Demandes
            </div>
            <div style="margin: 15px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M10.45 11L2.75 11" stroke="#424955" stroke-width="1.1" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M6.05 7.7002L2.75 11.0002L6.05 14.3002" stroke="#424955" stroke-width="1.1"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path d="M19.25 2.75L2.75 2.75" stroke="#424955" stroke-width="1.1" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M19.25 8.25L13.75 8.25" stroke="#424955" stroke-width="1.1" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M19.25 13.75L13.75 13.75" stroke="#424955" stroke-width="1.1" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M19.25 19.25L2.75 19.25" stroke="#424955" stroke-width="1.1" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div style="margin-left: 10px; margin-top: 10px">
            <div style="display: flex; border-radius: 0.25rem; background: #f9e6cb">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M4.28564 20.5716L18.8571 20.5716L21.4285 9.42871L6.85707 9.42871L4.28564 20.5716Z"
                    stroke="#825410" stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M17.9999 6.00014L10.2856 6.00014L8.57129 3.42871L2.57129 3.42871L2.57129 17.143"
                    stroke="#825410" stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                </svg>
              </div>
              <div style="margin-top: 10px; width: 200px">
                Demande modification TJM
              </div>
              <div style="margin-top: 10px; margin-left: 55px">
                {{ stats.pendingTjmCount }}
              </div>
            </div>
            <div style="display: flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path
                    d="M16.0005 15.1713H21.4288V11.7942C21.4288 11.2071 21.1211 10.6628 20.6171 10.3611L18.1956 8.9082"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" />
                  <path
                    d="M13.0698 5.05576C13.5121 3.94918 14.593 3.1709 15.8573 3.1709C17.5141 3.1709 18.8573 4.51404 18.8573 6.1709V7.02804C18.8573 8.6849 17.5141 10.028 15.8573 10.028C15.3884 10.028 14.9667 9.92518 14.5715 9.73318"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" />
                  <path
                    d="M7.59243 13.3623L3.695 15.6972C2.99815 16.1146 2.57129 16.868 2.57129 17.6814L2.57129 21.1709L17.9999 21.1709V17.6814C17.9999 16.8689 17.573 16.1154 16.8761 15.6972L12.9787 13.3623"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" />
                  <path
                    d="M10.2857 14.314C7.91914 14.314 6 12.3949 6 10.0283L6 8.31403C6 5.94746 7.91914 4.02832 10.2857 4.02832C12.6523 4.02832 14.5714 5.94746 14.5714 8.31403V10.0283C14.5714 12.3949 12.6523 14.314 10.2857 14.314Z"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                </svg>
              </div>
              <div style="margin-top: 10px; width: 200px">
                Toutes les demandes
              </div>
              <div style="margin-top: 10px; margin-left: 55px">
                {{ stats.allPreregisters }}
              </div>
            </div>
            <div style="display: flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path
                    d="M3.42871 9.62849L6.85728 5.34277L15.4287 5.34277L15.4287 13.9142L6.85728 13.9142L3.42871 9.62849Z"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M8.57129 17.3433V19.0576H17.1427L20.5713 14.7719L18.857 13.0576" stroke="#565E6C"
                    stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                </svg>
              </div>
              <div style="margin-top: 10px; width: 200px">
                Nouvelles missions
              </div>
              <div style="margin-top: 9px;margin-left: 55px">
                {{ stats.newMissions }}
              </div>
            </div>
            <div style="display: flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path opacity="0.4"
                    d="M11.9999 22.2282C17.2071 22.2282 21.4284 18.0069 21.4284 12.7997C21.4284 7.59241 17.2071 3.37109 11.9999 3.37109C6.7926 3.37109 2.57129 7.59241 2.57129 12.7997C2.57129 18.0069 6.7926 22.2282 11.9999 22.2282Z"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                  <path
                    d="M12 3.37109C14.5006 3.37109 16.8988 4.36446 18.667 6.13266C20.4352 7.90086 21.4286 10.2991 21.4286 12.7997"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" />
                </svg>
              </div>
              <div style="margin-top: 10px; width: 200px">
                Demandes non traitées
              </div>
              <div style="margin-top: 9px; margin-left: 55px">
                {{ stats.preregistersNonTraites }}
              </div>
            </div>
            <div style="display: flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path d="M3.42871 13.2575L6.85728 16.6861L15.4287 6.40039" stroke="#565E6C" stroke-width="2.05714"
                    stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M11.1431 15.829L12.0002 16.6861L20.5716 6.40039" stroke="#565E6C" stroke-width="2.05714"
                    stroke-miterlimit="10" stroke-linecap="square" />
                </svg>
              </div>
              <div style="margin-top: 10px; width: 200px">
                Demandes Traitées
              </div>
              <div style="margin-top: 9px; margin-left: 55px">
                {{ stats.preregistersTraites }}
              </div>
            </div>
            <div style="display: flex">
              <!-- <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M8.57129 5.99986V2.57129L15.4284 2.57129V5.99986" stroke="#565E6C" stroke-width="2.05714"
                    stroke-miterlimit="10" stroke-linecap="square" />
                  <path
                    d="M18.8574 12V19.7143C18.8574 20.1689 18.6767 20.605 18.3552 20.9265C18.0338 21.248 17.5977 21.4286 17.1431 21.4286L6.85735 21.4286C6.4027 21.4286 5.96666 21.248 5.64517 20.9265C5.32368 20.605 5.14307 20.1689 5.14307 19.7143L5.14307 12"
                    stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                  <path d="M12 13.7139V17.1424" stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10"
                    stroke-linecap="square" />
                  <path d="M8.57129 13.7139V17.1424" stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10"
                    stroke-linecap="square" />
                  <path d="M15.4287 13.7139V17.1424" stroke="#565E6C" stroke-width="2.05714" stroke-miterlimit="10"
                    stroke-linecap="square" />
                  <path d="M21.4284 6L2.57129 6L2.57129 9.42857L21.4284 9.42857V6Z" stroke="#565E6C"
                    stroke-width="2.05714" stroke-miterlimit="10" stroke-linecap="square" />
                </svg>
              </div> 

            </div>
          </div>
        </div> -->
        <div class="first-left">

          <div>

            <div style="display: flex;">
              <img [src]="getContaractByPrerigister.preregister.docs.img_profil"
                style="border-radius:50% ; width: 20%;">

              <div style="margin: 35px 25px 25px 70px; font-size: 2rem;">
                {{getContaractByPrerigister.preregister.personalInfo?.first_name}}
                {{getContaractByPrerigister.preregister.personalInfo?.last_name}}
              </div>
            </div>

          </div>
          <div class="Tableau1" style="  margin-top: 20px">
            <div style="width: 200px; margin-top: 10px">Etape 1</div>
            <div [ngClass]="{
                pending1: payment == 'false',
                validated1: payment == 'true',
                desactivated: payment == 'DESACTIVATED'
              }">
              Paiement
            </div>
            <div style="margin-left: 10px">
              <select [(ngModel)]="payment" (change)="
                  validatePriseDeContact(mission_id, payment)
                " [ngClass]="{
                  pending: payment == 'false',
                  validated: payment == 'true',
                  desactivated: payment == 'DESACTIVATED'
                }">
                <option [value]=true>Validée</option>
                <option [value]=false>En cours</option>
                <option [value]="'DESACTIVATED'">En attente</option>
              </select>
            </div>

          </div>
          <div class="Tableau1" style="  margin-top: 20px" *ngIf="payment == 'true'">
            <div style="width: 200px; margin-top: 10px">methode de paiement </div>
            <div class="pending1">
              Paiement
            </div>
            <div style="margin-left: 10px">
              <select [(ngModel)]="paymenttype" (change)="validateJobCotractEdition(mission_id, paymenttype)"
                class="pending">
                <option value="tranche">tranche</option>
                <option value="total">total</option>
              </select>
            </div>
          </div>
          <div class="Tableau1" style=" margin-top: 20px">
            <div style="width: 200px; margin-top: 10px">Etape 2</div>
            <div [ngClass]="{
                pending1: depot == 'false',
                validated1: depot == 'true',
                desactivated1: depot == 'DESACTIVATED'
              }">
              Dépot
            </div>
            <div style="margin-left: 10px">
              <select [(ngModel)]="depot" (change)="
                  validatedepot(
                    mission_id,
                    depot
                  )
                " [ngClass]="{
                  pending: depot == 'false',
                  validated: depot == 'true',
                  desactivated: depot == 'DESACTIVATED'
                }">
                <option [value]=true>Validée</option>
                <option [value]=false>En cours</option>
                <option [value]="'DESACTIVATED'">En attente</option>
              </select>
            </div>
          </div>

          <div style="background-color: rgb(209, 208, 208); margin-top: 50px;padding: 20px;border-radius:1rem;">
            <div style="display: flex; margin-bottom: 30px;">
              <div style="margin-right: 50px;">
                <b> Nom et Prénom : </b> {{getContaractByPrerigister.preregister.personalInfo?.first_name}}
                {{getContaractByPrerigister.preregister.personalInfo?.last_name}}
              </div>

              <div>
                <b> Code Inscription : </b>
                {{getContaractByPrerigister.preregister.personalInfo?.code}}
              </div>

            </div>
            <div style="display: flex; margin-bottom: 10px;">
              <div style="margin-right: 70px;">
                <b> Classe: </b> {{getContaractByPrerigister.preregister.personalInfo?.classe}}
              </div>
              <div style="margin-right: 70px;">
                <b>Département : </b>
                {{getContaractByPrerigister.preregister.personalInfo?.departement}}
              </div>
              <div>
                <b> Date Inscription : </b>
                {{getContaractByPrerigister.preregister.depot.split('T')[0]}}
              </div>
            </div>

          </div>
          <!-- <div class="Tableau1" style=" margin-top: 20px">
            <div style="width: 100px; margin-top: 10px">Etape 3</div>
            <div [ngClass]="{
                pending1: jobCotractEdition == 'false',
                validated1: jobCotractEdition == 'true',
                desactivated1: jobCotractEdition == 'DESACTIVATED'
              }">
              Edition du contrat de travail
            </div>
            <div style="margin-left: 10px">
              <select [(ngModel)]="jobCotractEdition" (change)="
                  validateJobCotractEdition(
                    idcontractByPreregister,
                    jobCotractEdition
                  )
                " [ngClass]="{
                  pending: jobCotractEdition == 'false',
                  validated: jobCotractEdition == 'true',
                  desactivated: jobCotractEdition == 'DESACTIVATED'
                }">
                <option [value]="true">Validée</option>
                <option [value]="false">En cours</option>
                <option [value]="'DESACTIVATED'">En attente</option>
              </select>
            </div>
          </div>
          <div class="Tableau1" style="  margin-top: 20px">
            <div style="width: 100px; margin-top: 10px">Etape 4</div>
            <div [ngClass]="{
                pending1: contractValidation == 'false',
                validated1: contractValidation == 'true',
                desactivated1: contractValidation == 'DESACTIVATED'
              }">
              Transmission et validation du contract
            </div>
            <div style="margin-left: 10px">
              <select [(ngModel)]="contractValidation" (change)="
                  validateContractValidation(
                    idcontractByPreregister,
                    contractValidation
                  )
                " [ngClass]="{
                  pending: contractValidation == 'false',
                  validated: contractValidation == 'true',
                  desactivated: contractValidation == 'DESACTIVATED'
                }">
                <option [value]="true">Validée</option>
                <option [value]="false">En cours</option>
                <option [value]="'DESACTIVATED'">En attente</option>
              </select>
            </div>
          </div>
          <div style="display: flex; margin-top: 20px">

            <div style="display: flex; margin-top: -8px">
              <div>
                <input type="checkbox" (change)="shownote()" />
              </div>
              <div style="margin-top: 12px; color: red">
                Refuser la mission
              </div>
            </div>
          </div>
          <div *ngIf="noteshow" style="width: auto; height: 7.0625rem; flex-shrink: 0">
            <div style="display: flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <path
                    d="M2.5 10L9.5 4V8.033C13.281 8.033 17.5 9.5 17.5 16C15.531 12.812 12.5 12 9.5 12L9.5 16L2.5 10Z"
                    stroke="#EAB059" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div style="
                  color: #eab059;

                  font-size: 0.9rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 1.25rem; /* 166.667% */
                  margin-top: 10px;
                ">
                Note au consultant
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <path d="M15 3L17.5 5.5L9.5 13.5L6 14.5L7 11L15 3Z" stroke="#565E6C" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M13 5L15.5 7.5" stroke="#565E6C" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M15.5 12L15.5 16.5C15.5 17.328 14.828 18 14 18L4 18C3.172 18 2.5 17.328 2.5 16.5L2.5 6.5C2.5 5.672 3.172 5 4 5L8.5 5"
                    stroke="#565E6C" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>

            </div>

            <div style="
                width: 9.4375rem;
                height: 0.25rem;
                margin-left: 8px;
                margin-top: -8px;
                flex-shrink: 0;
                background: #eab059;
              "></div>
            <br />

            <input type="text" style="width: 80%; height: 40%; color: #171a1f" placeholder="Note"
              [(ngModel)]="noteValue" />
          </div>

          <button *ngIf="noteshow" (click)="killmission(noteValue)" style="
              background: #1e1e1e;
              color: white;
              cursor: pointer;
              border: 0px #eab059;
              float: right;
            ">
            Envoyer la note
          </button> -->
        </div>
      </div>
    </div>
    <div class="right-item">
      <div class="profil" style="cursor: pointer;" (click)="gotomyprofile()">
        <img src="/assets/avatar-user.png" width="15%" height="10%" />
        <div style="" class="nom-prenom">{{fullname}}</div>

      </div>
    </div>
  </div>
</body>