<div class="wrapper">
    <div>
        <app-left-bar></app-left-bar>
    </div>
    <div class="loader" *ngIf="!show"> <img src="/assets/logo2.png" width="120%" /> </div>
    <div class="container" *ngIf="show">
        <div class="title"> LISTE DES ABSENCES
        </div>
        <form action="/submit_form" method="post" [formGroup]="myForm" class="flex-form">
            <div class="form-section">

                <div class="grid-container" *ngFor="let item of res">
                    <b style="font-size: 1.25rem;"> {{ item.module_id}}</b> <br><br>
                    <table>
                        <thead>
                            <th style="border-radius: 0.6875rem 0rem 0rem 0rem">Module</th>
                            <th *ngFor="let ee of item.data"> {{ee.date}} </th>
                            <th style="border-radius: 0rem 0.6875rem 0rem 0rem">Total</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ item.module_id}}
                                </td>
                                <ng-container *ngFor="let key of item.data;let i =index">
                                    <td>
                                        <div> {{ key.nb_absence }} </div>
                                    </td>
                                </ng-container>
                                <td>
                                    {{ item.total_absences }}
                                </td>
                            </tr>


                        </tbody>
                    </table>








                    <br>



                    <!-- <div class="buttons" (click)="logform()">
                        <button type="submit" class="button">
                            <div class="inscrire">Valider</div>
                        </button>
                    </div> -->

                </div>
            </div>


        </form>
    </div>

    <div class="right-item">
        <div style="display: flex;margin-bottom: 0px;">

            <div class="profil" style="cursor: pointer;" (click)="gotomyprofile()">
                <img src="/assets/avatar-user.png" width="15%" height="10%" />
                <div class="nom-prenom">{{fullname}} <br>

                </div>

            </div>
        </div>
        <!-- <app-notification></app-notification> -->
    </div>

</div>